.form-group.floating
{
 float: left;
 width:20%;
}
s

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    margin-top: 62px;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4B0082;
    overflow-x: hidden;
    padding-top: 55px;
}

.sidenav a {
    padding: 12px 1px 0px 4px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: black;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



.col-xs-12 {
  white-space: nowrap !important;
  max-width: 100%;
  overflow: auto;
}
.col-xs-3 {
  float: none !important;
  display: inline-block !important;
}
.col-xs-3 a {
  height: 100px;
  background: pink;
  display: block;
  margin-top: 10px;
  padding: 10px
}


button.btn.btn-sm.btn-primary {
    background: white;
    border: 2px solid green;
    color: green;
}