{%  extends 'authenticate/base.html' %}
{% block content %}
{% load static %}

<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<style>
  .white{
    color:#000;
    background-color:#fff;
}

.btn-facebook {
    color: #ffffff;
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #000000;
    *background-color: #000000;
    background-image: -moz-linear-gradient(top, #3b5998, #000000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#000000));
    background-image: -webkit-linear-gradient(top, #3b5998, #000000);
    background-image: -o-linear-gradient(top, #3b5998, #000000);
    background-image: linear-gradient(to bottom, #696969, #000000);
    background-repeat: repeat-x;
    border-color: #133783 #133783 #091b40;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

    .btn-facebook:hover,
    .btn-facebook:focus,
    .btn-facebook:active,
    .btn-facebook.active,
    .btn-facebook.disabled,
    .btn-facebook[disabled] {
        color: #ffffff;
        background-color: #133783 !important;
        *background-color: #102e6d !important;
    }

    .btn-facebook:active,
    .btn-facebook.active {
        background-color: #0d2456 \9 !important;
    }
  article, aside, figure, footer, header, hgroup,
  menu, nav, section { display: block; }
</style>
<br>
<br>



<h2   class="text-center"> Complete your account </h2>

<br>










<div  class="col-md-8 col-md-offset-2"  >
    <div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Profiling</h3>
			 	</div>
			  	<div class="panel-body">






    <form method="POST"     accept-charset="utf-8" enctype="multipart/form-data"     >
        {% csrf_token %}
         <div style="float:right" class="form-group">
            <label for="image">photo</label>

            <!-- <input type='file' onchange="readURL(this);" />-->
             <img id="blah" src="#" alt="your image" />
            <input type="file" name="image"  required="required" onchange="readURL(this);" />

        </div>
         <div  style="float:left" class="form-group">
            <label for="name">I will work as a</label>
        <select  class="btn btn-primary dropdown-toggle"   name="role_user"  required="required"  >
             <option >                    Select One Option  </option>
                {% for folder in usertype %}
             <option value="{{ folder }}">{{ folder }}</option>
                  {% endfor %}
         </select>
        </div>


        <br>
        <br>
        <br>

        <div class="form-group">
            <label for="cityname">City Name</label>
            <input type="text"  class="form-control"  name="city"  required="required"/>
        </div>


        <div class="form-group">
            <label for="link">Website link</label>
            <input type="text" class="form-control"  name="website"  required="required"/>
        </div>

        <div class="form-group">
            <label for="phone">Phone Number</label>
            <input type="text" class="form-control"  name="phone"  required="required"/>
        </div>  


        <div class="form-group">
            <label for="Description">Description</label>
            <textarea class="form-control rounded-0" name="description" rows="10"></textarea>
        </div>


         <div class="form-group floating">
         <input type="hidden" name="Django" value="0"> 
         <input type="checkbox" name="Django" value="Django">Django<br>
         

          </div>

         <div class="form-group  floating">
         <input type="hidden" name="Asp" value="0" > 
         <input type="checkbox" name="Asp" value="asp" > Asp.Net<br>


          </div>

          <div class="form-group  floating">
         <input type="hidden" name="php" value="0" >
         <input type="checkbox" name="php" value="Php" > PHP<br>

          </div>

          <div class="form-group  floating">
         <input type="hidden" name="meanStack" value="0" >
         <input type="checkbox" name="meanStack" value="MEANStack" > MEAN Stack<br>
          </div>

          <div class="form-group  floating">
         <input type="hidden" name="Javascript" value="0" >
         <input type="checkbox" name="Javascript" value="Javascript" > Javascript<br>
          </div>

          <div class="form-group floating">
         <input type="hidden" name="html" value="0" >
         <input type="checkbox" name="html" value="HTML" > HTML<br>
          </div>
          
          <div class="form-group  floating">
         <input type="hidden" name="css" value="0" >
         <input type="checkbox" name="css" value="CSS" > CSS<br>

          </div>


        <div class="form-group">
            <button type="submit" class="btn btn-sm btn-primary"><span class="glyphicon glyphicon-edit"></span> Get Started </button>
        </div>

    </form>


</div>
    </div>
</div>

<script>
    function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#blah')
                        .attr('src', e.target.result)
                        .width(150)
                        .height(150);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }
</script>
{% endblock %}


