<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    
    <!-- Bootstrap CSS -->

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
                  
     <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"></script>
    {% load static %}


    <title>CodeSnippet</title>
      <style>
          /*input.form-control {
    width: 50%;
}

textarea.form-control.rounded-0 {
    width: 50%;
}

select.btn.btn-primary.dropdown-toggle {
    width: 43%;
}
*/
span.fa.fa-commenting {
    height: 0px !important;
    width: 0px !important;
    font-size: 15px  !important;
    vertical-align: baseline !important;
   }
a.dropdown-toggle {
    color: black;
}
p.newmess
{

    background: wheat;
    border: 1px black solid;
}

p.progress
{

color: #CCCC00 !important;
font-weight: bold !important;
}

p.Completed
{
font-weight: bold !important;
color: green !important;

}

p.expired
{
font-weight: bold !important;
color: red !important;
}

p.statustext b {
    color: white;
    background: green;
}

i.fa.fa-file-text-o.size {
    font-size: 18px;
    color: green;
}
#time p
{
padding-bottom: 8px;
}

button.btn.btn-sm.btn-primary {
    width: 30%;
}


label {
    font-weight: bold;
}

.col-md-8.offset-md-3 {
    border: 1px solid;
    padding: 10px;
    box-shadow: 3px 0pc 6px 10px #800080;
}

.form-group.floating
{
 float: left;
 width:20%;
}


 .dropdown-menu.notify-drop {
  min-width: 330px;
  background-color: #fff;
  min-height: 360px;
  max-height: 360px;
}
 .dropdown-menu.notify-drop .notify-drop-title {
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 15px 10px 15px;
}
 .dropdown-menu.notify-drop .drop-content {
  min-height: 280px;
  max-height: 280px;
  overflow-y: scroll;
}
 .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

 .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

 .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
 .dropdown-menu.notify-drop .drop-content > li {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0px 5px 0px;
}
 .dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
  background-color: #fafafa;
}
 .dropdown-menu.notify-drop .drop-content > li:after {
  content: "";
  clear: both;
  display: block;
}
.dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: #fcfcfc;
}
 .dropdown-menu.notify-drop .drop-content > li:last-child {
  border-bottom: none;
}
 .dropdown-menu.notify-drop .drop-content > li .notify-img {
  float: left;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0px 0px 8px 0px;
}
 .dropdown-menu.notify-drop .allRead {
  margin-right: 7px;
}
.dropdown-menu.notify-drop .rIcon {
  float: right;
  color: #999;
}
.dropdown-menu.notify-drop .rIcon:hover {
  color: #333;
}
.dropdown-menu.notify-drop .drop-content > li a {
  font-size: 12px;
  font-weight: normal;
}
 .dropdown-menu.notify-drop .drop-content > li {
  font-weight: bold;
  font-size: 11px;
}
.dropdown-menu.notify-drop .drop-content > li hr {
  margin: 5px 0;
  width: 70%;
  border-color: #e2e2e2;
}
 .dropdown-menu.notify-drop .drop-content .pd-l0 {
  padding-left: 0;
}
 .dropdown-menu.notify-drop .drop-content > li p {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  margin: 3px 0;
}
 .dropdown-menu.notify-drop .drop-content > li p.time {
  font-size: 10px;
  font-weight: 600;
  top: -6px;
  margin: 8px 0px 0px 0px;
  padding: 0px 3px;
  border: 1px solid #e2e2e2;
  position: relative;
  background-image: linear-gradient(#fff,#f2f2f2);
  display: inline-block;
  border-radius: 2px;
  color: #B97745;
}
.dropdown-menu.notify-drop .drop-content > li p.time:hover {
  background-image: linear-gradient(#fff,#fff);
}
 .dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  position: relative;
  padding: 8px 15px;
}
.dropdown-menu.notify-drop .notify-drop-footer a {
  color: #777;
  text-decoration: none;
}
.dropdown-menu.notify-drop .notify-drop-footer a:hover {
  color: #333;
}
      </style>
  </head>
  <body>
  

<nav class="navbar navbar-expand-lg  "  style="background-color: #009B24; margin-bottom: 0px;" >
  <a class="navbar-brand text-dark" href="{% url 'home' %}">CodeSnippets</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse"  id="navbarSupportedContent">
  


    <ul class="navbar-nav mr-auto">
     <li class="nav-item active">
        <a class="nav-link  text-dark" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>

        <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle text-dark " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Snippets
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item text-dark" href="{% url 'snippets'  %}">All Snippets</a>
          <a class="dropdown-item text-dark" href="{% url 'mySnips'  %}">My snippets</a>
          <div class="dropdown-divider text-dark"></div>
          <a class="dropdown-item text-dark" href="{% url 'create'  %}">Create Snippets</a>
        </div>
      </li>
  
  {% if  user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link text-dark" href="/Userprofile/{{ user.id }}">My profile</a>
      </li>

     <li class="dropdown"  style="margin-left: 10px;
    margin-top: 12px;">
          <a  style="color: black"  href="#sign_up" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-bell"></span> Project Updates
        </button>
      </a>
          <ul class="dropdown-menu notify-drop">
            <div class="notify-drop-title">
              <div class="row">
                
              </div>
            </div>
            <!-- end notify title -->
            <!-- notify content -->
            <div class="drop-content">
          
              <li>
                <div style="margin-left: 19px;"  id="time" class="col-md-10 col-sm-10 col-xs-10 pd-l0">
                </div>
              </li>
              
            </div>
            <div class="notify-drop-footer text-center">
              <a href=""><i class="fa fa-eye"></i> See all</a>
            </div>
          </ul>
        </li>


       
       <li class="dropdown"  style="margin-left: 10px;
    margin-top: 12px;">
          <a href="#sign_up" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-bell"></span> Snippets Requests
        </button>
      </a>
          <ul class="dropdown-menu notify-drop">
            <div class="notify-drop-title">
              <div class="row">
                
              </div>
            </div>
            <!-- end notify title -->
            <!-- notify content -->
            <div class="drop-content">
          
              <li>
                <p style="margin-left: 13px"><b>Requests Received<b></p>
                <div style="border: 1px solid green;margin-left: 15px;padding: 9px;"  id="snippet" class="col-md-10 col-sm-10 col-xs-10 pd-l0">
                </div>
                <p style="margin-left: 13px"><b>Submitted by you<b></p>
                <div style="margin-left: 14px;border: 1px solid blue; padding: 9px;"  id="snippetreq" class="col-md-10 col-sm-10 col-xs-10 pd-l0">
                </div>


              </li>
              
            </div>
            <div class="notify-drop-footer text-center">
              <a href=""><i class="fa fa-eye"></i> See all</a>
            </div>
          </ul>
        </li>

      
       <li class="dropdown"  style="margin-left: 10px;
    margin-top: 12px;">
          <a href="#sign_up" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
        <button type="button" class="btn btn-default btn-sm">
          <span class="glyphicon glyphicon-bell"></span> Activity Log
        </button>
      </a>
          <ul class="dropdown-menu notify-drop">
            <div class="notify-drop-title">
              <div class="row">
                
              </div>
            </div>
            <!-- end notify title -->
            <!-- notify content -->
            <div class="drop-content">
          
              <li>
                <p style="margin-left: 13px"><b>All Notificactions<b></p>
                <div style="border: 1px solid green;margin-left: 15px;padding: 9px;"  id="activity" class="col-md-10 col-sm-10 col-xs-10 pd-l0">
                </div>
              </li>
              
            </div>
            <div class="notify-drop-footer text-center">
              <a href=""><i class="fa fa-eye"></i> See all</a>
            </div>
          </ul>
        </li> 







      </ul>
   
     {%  endif  %}


<!--      {% if  user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'Userprofile'  %}">My profile</a>
      </li>


     {%  endif  %}




 -->









    <ul  style="
    right: 64%;" class="navbar-nav ml-auto">

     <!--  <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> -->


       


      {% if  user.is_authenticated %}

      
    <li class="dropdown"  style="    margin-right: 17px;
    margin-top: 18px;">
     <a href="#sign_up" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
          <span class=""></span> Messages
        
      </a>
          <ul class="dropdown-menu notify-drop">
            <div class="notify-drop-title">
              <div class="row">
                
              </div>
            </div>
   
            <div class="drop-content">
          
             <li>
               
                <div id="newmessages"  style="margin-left: 24px;" class="col-md-10 col-sm-10 col-xs-10 pd-l0">
                </div>
              </li>

            </div>
         </ul>
        </li>
 


       <li class="nav-item dropdown ">
        <a class="nav-link dropdown-toggle text-dark " href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Profile Settings
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <!-- <a class="dropdown-item text-dark" href="/">Profile</a>
 -->   <a class="dropdown-item text-dark" href="{% url 'edit_profile'  %}">Edit Contact Information</a>
          <div class="dropdown-divider text-dark"></div>
          <a class="dropdown-item text-dark" href="{% url 'change_password'  %}">Change Password</a>
          <a class="dropdown-item text-dark" href="{% url 'logout'  %}">Logout</a>
        </div>
      </li>


     <li class="nav-item">
        <a class="nav-link text-dark" href="#"><span style="color: transparent;">________________________</span></a>
      </li>
     <li class="nav-item">
        <a class="nav-link text-dark" href="/Userprofile/{{ user.id }}"></a>
      </li>




<!-- 
      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'logout'  %}">Logout</a>
      </li>


      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'edit_profile'  %}">Edit Profile</a>
      </li>


      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'change_password'  %}">Change Password</a>
      </li>
  -->
           
       {% else %}


      

       <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'login'  %}">Login</a>
      </li>


      <li class="nav-item">
        <a class="nav-link text-dark" href="{% url 'register'  %}">Register</a>
      </li>
      

       {%  endif  %}
  
       


    </ul>

   




<!--     <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form> -->
  </div>
</nav>
<script>



    $.ajax({
    url: '/edit_pro/',
    type: 'GET',// This is the default though, you don't actually need to always mention it
    data:{},
    success: function(data) {
        // alert(data);
        var div1 = document.getElementById('time');
   
     
        mydata=JSON.parse(data.mydata)
        invite=JSON.parse(data.invite)
        usertype=data.usertype


       invite.forEach(function(element) { 
        var div0 = document.createElement('p');
        
        if(usertype == 'Freelancer')
        {

        div0.innerHTML += "<i class='fa fa-rocket' aria-hidden='true'></i>"  +"&nbsp <a href='/projpost/showproject/"+element.fields.projid+"'>You got Invitation for this project</a> &nbsp";
        div0.innerHTML +=  element.fields.title; 

        }
         



        div1.appendChild(div0);
       });












        mydata.forEach(function(element) { 
        var div = document.createElement('p');
        
        if(usertype == 'Freelancer')
        {

        div.innerHTML += "<i class='fa fa-rocket' aria-hidden='true'></i>"  +"&nbsp <a href='/projpost/showproject/"+element.pk+"'> New project posted Link of project</a> &nbsp";
        div.innerHTML +=  element.fields.title; 

        }
         
        else{

          div.innerHTML += "<i class='fa fa-rocket' aria-hidden='true'></i>"  +"&nbsp <a href='/Userprofile/"+element.fields.user_id+"'>This Freelancer Bid on your :</a> &nbsp";
        div.innerHTML += "<a href='/projpost/bids/"+element.fields.projid+"'>This Project </a> &nbsp"; 
         

        } 

      




        div1.appendChild(div);
       });

        
        
        // console.log(data);

    },
    failure: function(data) { 
        alert('Got an error dude');
    }
});






$.ajax({
    url: '/newmessage/',
    type: 'GET',// This is the default though, you don't actually need to always mention it
    data:{},
    success: function(data) {
        // alert(data);
        var div1 = document.getElementById('newmessages');
   
     
        mydata=JSON.parse(data.mydata)

        mydata.forEach(function(element) { 
        var div = document.createElement('p');
        div.className = "newmess";
        

        div.innerHTML += "<i class='fa fa-commenting  newmessage' aria-hidden='true'></i>"  +"&nbsp <a href='/my/"+element.fields.projid+"'>In this project Chat You got Message : </a> &nbsp";
        div.innerHTML +=  element.fields.message; 

  
        div1.appendChild(div);
       });

        
        
        // console.log(data);

    },
    failure: function(data) { 
        alert('Got an error dude');
    }
});












//  $.ajax({
//     url: '/newmessage/',
//     type: 'GET',// This is the default though, you don't actually need to always mention it
//     data:{},
//     success: function(data) {
//         // alert(data);
//         var div1 = document.getElementById('message');
   
     
//         mydata=JSON.parse(data.savem)
//         usertype=data.usertype

//         mydata.forEach(function(element) { 
//         var div = document.createElement('p');
        
       

//           div.innerHTML += "<i class='fa fa-rocket' aria-hidden='true'></i>"  +"&nbsp <a href='/Userprofile/"+element.fields.message+"'>This Freelancer Bid on your :</a> &nbsp";
//         div.innerHTML += "<a href='/projpost/bids/"+element.fields.projid+"'>This Project </a> &nbsp";



//         div1.appendChild(div);
//        });

        
        
//         // console.log(data);

//     },
//     failure: function(data) { 
//         alert('Got an error dude');
//     }
// });












$.ajax({
    url: '/snippetrequests/',
    type: 'GET',// This is the default though, you don't actually need to always mention it
    success: function(data) {
        // alert(data);
         
        
        var div1 = document.getElementById('snippet');
        var div2= document.getElementById('snippetreq');
     
     
       
        yourdata=JSON.parse(data.yourdata)
        mydata=JSON.parse(data.mydata)

        mydata.forEach(function(element) {
        console.log(element);

        var div = document.createElement('p');

        div.innerHTML += "<i class='fa fa-file-text-o size' aria-hidden='true'></i> &nbsp";
        div.innerHTML +=  element.fields.title; 

        if (element.fields.status == "Working")
        {

          div.innerHTML += "<br><a href='/snippets/mySnips/updation/"+element.fields.snipId+"'><input class='btn btn-sm btn-warning small' type='button' value='Working on This'/></a>"
        }
        else if (element.fields.status == "Done")
        {

          div.innerHTML += "<br><a href='/snippets/mySnips/updation/"+element.fields.snipId+"'><input class='btn btn-sm btn-primary small' type='text' value='Done'/></a>"
        }

        else{
        
        div.innerHTML += "<br><a href='/snippets/mySnips/confirmation/"+element.pk+"'><input class='btn btn-sm btn-success small' type='button' value='Accept'/></a>";
        }

        div1.appendChild(div);
       });
       
       yourdata.forEach(function(element) {

        var div = document.createElement('p');

        div.innerHTML += "<i class='fa fa-file-text-o size' aria-hidden='true'></i> &nbsp";
        div.innerHTML +=  element.fields.title; 

        if (element.fields.status == "Working")
        {

          div.innerHTML += "<br><a href='/snippets/all/snip_descri/"+element.fields.snipId+"'><input class='btn btn-sm btn-warning small' type='button' value='Request is Accepted , Working'/></a>"
        }
        else if (element.fields.status == "Done")
        {

          div.innerHTML += "<br><a href='/snippets/all/snip_descri/"+element.fields.snipId+"'><input class='btn btn-sm btn-primary small' type='text' value='Updated Successfully'/></a>"
        }

        else{
        
        div.innerHTML += "<br><a href='/snippets/all/snip_descri/"+element.fields.snipId+"'><input class='btn btn-sm btn-success small' type='button' value='Status Pending'/></a>";
        }

        div2.appendChild(div);
       });
        
        
        // console.log(data);

    },
    failure: function(data) { 
        alert('Got an error dude');
    }
});  


$.ajax({
    url: '/activity/',
    type: 'GET',// This is the default though, you don't actually need to always mention it
    data:{},
    success: function(data) {
        // alert(data);
        var div1 = document.getElementById('activity');
   
     
        mydata=JSON.parse(data.mydata)
        usertype=data.usertype
         
        mydata.forEach(function(element) { 
        var div = document.createElement('p');
        
        if(usertype == 'Buyer')
        {
        div.innerHTML += "<i class='fa fa-rocket' aria-hidden='true'></i>"  +"&nbsp <a href='/projpost/progress/"+element.pk+"'>"+element.fields.title+"</a> &nbsp";
     

        if (element.fields.status == "Progress")
        {
        div.innerHTML +=   '<p class="progress">Contract on this project is Started</p>'; 
        }

        else if(element.fields.status == "Completed")
        {
        div.innerHTML +=   '<p class="Completed">Completed</p>';  
        }
        
        else if(element.fields.status == "EXPIRED")
        {
        div.innerHTML +=   '<p class="expired">Expired</p>';  
        }
       


        }


        else{
        div.innerHTML += "<i class='fa fa-rocket' aria-hidden='true'></i>"  +"&nbsp <a href='/projpost/progress/"+element.pk+"'>"+element.fields.title+"</a> &nbsp";
         if (element.fields.status == "Progress")
        {
        div.innerHTML +=   '<p class="progress">You have Started Working on this</p>'; 
        }

        else if(element.fields.status == "Completed")
        {
        div.innerHTML +=   '<p class="Completed">Completed</p>';  
        }
        
        else if(element.fields.status == "EXPIRED")
        {
        div.innerHTML +=   '<p class="expired"> You didnt submitted its Expired</p>';  
        }
       

        

        }
        

        div1.appendChild(div);
       });

        
        
        // console.log(data);

    },
    failure: function(data) { 
        alert('Got an error dude');
    }
});





</script>


<div>

 {% if messages %}
  {%  for message in messages  %}
     <div  class="alert alert-info alert-dismissable" role="alert">
        <button  class="close"  data-dismiss="alert"  >
          

       <small><sup>x</sup></small>

        </button>
      {{message}}  
     </div>

     {% endfor %}
    {% endif %} 

    {%block content %}

    {% endblock %}
</div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>