{%  extends 'authenticate/base.html' %}
{% block content %}
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

<link class="jsbin" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.0/jquery-ui.min.js"></script>
<br>
<br>
<div  class="col-md-8 col-md-offset-2"  >
    <div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">Edit Profile</h3>
			 	</div>
			  	<div class="panel-body">





<form  method="POST"  action="{% url  'edit_profile'   %}"> 
	{%  csrf_token   %}

    {% if form.errors %}
          


          <div  class="alert alert-info alert-dismissable" role="alert">
        <button  class="close"  data-dismiss="alert"  >
          

       <small><sup>x</sup></small>

        </button>
       <p>Your Form Has Errors </p> 

        {% for field in form  %}   
         
            {%  if field.errors  %}
                 {{ field.errors }}
               {% endif %}
               {% endfor %}  
             

     </div>
          
    {% endif  %}

    {{ form.as_ul }}
  

    <input type="submit"  value="Update"  class="btn btn-secondary">
</form>  
</div>
    </div>
</div>

{% endblock  %}