{% extends 'authenticate/base.html' %}
{% block content %}
{% load static %}



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <style>

        .upperbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    width: 17%;
    color: #6FD05F;
    font-size: 19px;
    padding: 12px 24px;
    border: 2px solid #6FD05F;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;

}
.upperbutton2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    width: 17%;
    color: #6FD05F;
    font-size: 19px;
    padding: 12px 24px;
    border: 2px solid #6FD05F;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}


.box2 {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
}

.card-body
{
  width:30px;
 -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.img-thumbnail
{
 -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;

}

.free
{
color: #6FD05F;
border: 1px solid #6FD05F;

}

.uppertext
{

    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 50%;
    color: black;
    font-size: 67px;
    padding: 12px 24px;
    border-radius: 5px;
    text-align: center;
    background: white;
    z-index: 999999;
}

.center-text
{
    color: black;
    font-size: 27px;
    border-radius: 5px;
    text-align: center;
;
}

a.btn.btn-success.btn-sm.free {
    color: green;
    border: 2px solid green;
    background: white;
}
    </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style="position: relative;  margin: 0 auto">
  <div class="carousel-inner" >
    <div class="carousel-item active"  style="position: relative;" >
      <img class="d-block w-100"  style="height: 800px; max-width:100%;  margin: 0 auto" src="https://www.sinuatemedia.com/wp-content/uploads/2013/03/bigstock-Group-of-Business-People-Worki-64182205.jpg" alt="First slide">


      {% if  user.is_authenticated %}
      <h2  class="uppertext" >Get it done with a freelancer</h2>

       {% else %}

      <h2  class="uppertext" >Get it done with a freelancer</h2>
      <button onclick="location.href='/register';" class="upperbutton">Creat New Account</button>
      <button onclick="location.href='/login';"  class="upperbutton2">Already Member? Login</button>
    {%  endif  %}



    </div>
    <div class="carousel-item">
      <img class="d-block w-100" style="height: 800px; max-width:100%;  margin: 0 auto" src="https://nevadasmallbusiness.com/wp-content/uploads/2016/07/Is-Freelancing-Right-for-You-1200x520.jpg" alt="Second slide">


     {% if  user.is_authenticated %}
      <h2  class="uppertext" >Get it done with a freelancer</h2>

       {% else %}

      <h2  class="uppertext" >Get it done with a freelancer</h2>
      <button onclick="location.href='/register';" class="upperbutton">Creat New Account</button>
      <button onclick="location.href='/login';"  class="upperbutton2">Already Member? Login</button>
    {%  endif  %}


    </div>
    <div class="carousel-item">
      <img class="d-block w-100" style="height: 800px; max-width:100%;  margin: 0 auto" src="https://www.concettolabs.com/blog/wp-content/uploads/2017/07/Web-Development-Frameworks.png" alt="Third slide">

     {% if  user.is_authenticated %}
      <h2  class="uppertext" >Get it done with a freelancer</h2>

       {% else %}

      <h2  class="uppertext" >Get it done with a freelancer</h2>
      <button onclick="location.href='/register';" class="upperbutton">Creat New Account</button>
      <button onclick="location.href='/login';"  class="upperbutton2">Already Member? Login</button>
    {%  endif  %}


    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>





<br>
<br>
<br>


<hr style="border-color:#6FD05F;">
<h3 class="center-text">Free Snippets</h3>
<hr style="border-color:#6FD05F;">

<div class="container">
<div class="row">
<br>
{% for mi in snippet %}
<div class="col-lg-3" style="border-left: 1px solid  #00B400 ; " >
 <div style=" object-fit: cover;" class="box2"  >
    <img style="width: 100%;
    height: 15vw;
    object-fit: cover;" class="img-thumbnail"src="/media/{{ mi.image }}" class="img-responsive" alt="Card image cap">
    <div class="card-body">
    <h5 class="card-title">{{ mi.title|title }}</h5>
    <p class="card-text">{{ mi.name }}</p>
     <p class="card-text">
       {% if mi.description|wordcount <= 3  %}
               {{ mi.description }}
            {% else %}
               {{ mi.description| truncatewords:3 }}
            {% endif %}


       </p>

    <!--<div class="producttitle"   style="    width: 230px;
    word-wrap: break-word;"  > <b>Description</b>  : {{ mi.description }}</div>-->
     <a href="snippets/all/snip_descri/{{mi.id}}" class="btn btn-success btn-sm free">Download it For Free</a>
    </div>
 </div>
    <br>
    <br>
    <br>
    <!-- href="event/showunmatched/{{ mi.id }}" -->
</div>
  <br>

{% endfor %}
<br>
<div class="pagination">
    <span class="step-links">
        {% if snippet.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ snippet.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ snippet.number }} of {{ snippet.paginator.num_pages }}.
        </span>

        {% if snippet.has_next %}
            <a href="?page={{ snippet.next_page_number }}">next</a>
            <a href="?page={{ snippet.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>

  </div>
</div>


<br>
<br>
<hr style="border-color:#6FD05F;  margin-bottom: 1px">
<h3 class="center-text">Technologies </h3>
<hr style="border-color:#6FD05F;">

<!-- Container (Portfolio Section) -->
<div class="container-fluid text-center bg-grey">
  <!--<h2>Portfolio</h2><br>-->
  <h4>Our Freelancer's Expertises</h4>
  <div class="row text-center">
    <div class="col-sm-2">
      <div class="thumbnail">
        <img src="http://www.webqsolutions.com/wp-content/themes/CTW/images/custom-php.png" alt="Paris" width="400" height="300">
        <p><strong>PHP</strong></p>
        <p>Yes, we are known for PHP</p>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="thumbnail">
        <img src="https://www.djangoproject.com/s/img/logos/django-logo-negative.png" alt="New York" width="400" height="100">
        <p><strong>Django</strong></p>
        <p>We built, we work on Django </p>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="thumbnail">
        <img src="https://wakeupandcode.com/wp-content/uploads/2016/03/asp-net-logo.png" alt="San Francisco" width="400" height="300">
        <p><strong><br></br>ASP.NET</strong></p>
        <p><br>we help you, we guide you</p>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="thumbnail">
        <img src="https://cdn-images-1.medium.com/max/1600/1*kkXbE9GlS73U7x1iXHP_vQ.png" alt="Paris" width="600" height="300">
        <p><strong><br>MEAN STACK</strong></p>
        <p>we guide, we help</p>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="thumbnail">
        <img src="http://www.ajcreator.com/en/wp-content/uploads/2017/09/html-css-javascript.png" alt="Paris" width="400" height="300">
        <p><strong>Interface</strong></p>
        <p>Yes, we make it perfect</p>
      </div>
    </div>
    <div class="col-sm-2">
      <div class="thumbnail">
        <img src="https://ih0.redbubble.net/image.363825896.1310/flat,1000x1000,075,f.u1.jpg" alt="Paris" width="400" height="300">
        <p><strong>Ruby on rails</strong></p>
        <p>work and show</p>
      </div>
    </div>
  </div>
</div>




<br>
<br>
<hr style="border-color:#6FD05F;  margin-bottom: 1px">



<br>


<!-- Footer -->
<footer class="page-footer font-small blue-grey lighten-5">

    <div style="background-color: #21d192;">
      <div class="container">

        <!-- Grid row-->
        <div class="row py-4 d-flex align-items-center">

          <!-- Grid column -->
          <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
            <h3 class="mb-0">About</h3>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-6 col-lg-7 text-center text-md-right">

            <!-- Facebook -->
            <a class="fb-ic">
              <i class="fa fa-facebook white-text mr-4"> </i>
            </a>
            <!-- Twitter -->
            <a class="tw-ic">
              <i class="fa fa-twitter white-text mr-4"> </i>
            </a>
            <!-- Google +-->
            <a class="gplus-ic">
              <i class="fa fa-google-plus white-text mr-4"> </i>
            </a>
            <!--Linkedin -->
            <a class="li-ic">
              <i class="fa fa-linkedin white-text mr-4"> </i>
            </a>
            <!--Instagram-->
            <a class="ins-ic">
              <i class="fa fa-instagram white-text"> </i>
            </a>

          </div>
          <!-- Grid column -->

        </div>
        <!-- Grid row-->

      </div>
    </div>

    <!-- Footer Links -->
    <div class="container text-center text-md-left mt-5">

      <!-- Grid row -->
      <div class="row mt-3 dark-grey-text">

        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mb-4">

          <!-- Content -->
          <h6 class="text-uppercase font-weight-bold">Code Snippets</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Code snippets is a freelancing marketplace and providing the chunks of codes that can help developer to use and consume their time</p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
       <!-- <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
          <!--<h6 class="text-uppercase font-weight-bold">Products</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="dark-grey-text" href="#!">MDBootstrap</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">MDWordPress</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">BrandFlow</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Bootstrap Angular</a>
          </p>

        </div>-->
        <!-- Grid column -->

        <!-- Grid column -->
        <!--<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">

          <!-- Links -->
         <!-- <h6 class="text-uppercase font-weight-bold">Useful links</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <a class="dark-grey-text" href="#!">Your Account</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Become an Affiliate</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Shipping Rates</a>
          </p>
          <p>
            <a class="dark-grey-text" href="#!">Help</a>
          </p>

        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">

          <!-- Links -->
          <h6 class="text-uppercase font-weight-bold">Contact</h6>
          <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>
            <i class="fa fa-home mr-3"></i> Islamabad, Pakistan </p>
          <p>
            <i class="fa fa-envelope mr-3"></i> marium77@gmail.com</p>
          <p>
            <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
          <p>
            <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>

        </div>
        <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center text-black-50 py-3">© 2018 Copyright:
      <a class="dark-grey-text" href="https://mdbootstrap.com/bootstrap-tutorial/"> CodeSnippets.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->



</body>
</html>












{% endblock  %}