{%  extends 'authenticate/base.html' %}
{% block content %}

<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% load static %}

<style>
	.white{
    color:#000;
    background-color:#fff;
}

.btn-facebook {
    color: #ffffff;
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #000000;
    *background-color: #000000;
    background-image: -moz-linear-gradient(top, #3b5998, #000000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#000000));
    background-image: -webkit-linear-gradient(top, #3b5998, #000000);
    background-image: -o-linear-gradient(top, #3b5998, #000000);
    background-image: linear-gradient(to bottom, #696969, #000000);
    background-repeat: repeat-x;
    border-color: #133783 #133783 #091b40;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

    .btn-facebook:hover,
    .btn-facebook:focus,
    .btn-facebook:active,
    .btn-facebook.active,
    .btn-facebook.disabled,
    .btn-facebook[disabled] {
        color: #ffffff;
        background-color: #133783 !important;
        *background-color: #102e6d !important;
    }

    .btn-facebook:active,
    .btn-facebook.active {
        background-color: #0d2456 \9 !important;
    }
</style>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<h2  class="text-center" >Login</h2>
<div class="container">
    <div class="row">
    	<div class="col-md-4 col-md-offset-4">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">CodeSnippets</h3>
			 	</div>
			  	<div class="panel-body">

			    	<form accept-charset="UTF-8" role="form"  method="POST">
                      {%  csrf_token %}
                    <fieldset>
			    	  	<div class="form-group">
			    		   <input type="text" class="form-control"  placeholder="Enter UserName"   name="username">
			    		</div>
			    		<div class="form-group">
			    			 <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"  name="password">
			    		</div>
			    		<div class="checkbox">
			    	    	<label>
			    	    		<input name="remember" type="checkbox" value="Remember Me"> Remember Me
			    	    	</label>
			    	    </div>
			    		<input class="btn btn-lg btn-success btn-block" type="submit" value="Get Started">
			    	</fieldset>
			      	</form>
                      <hr/>
                    <center><h4>OR</h4></center>
                  <form action="{% url 'social:begin' 'github' %}">
                    <input class="btn btn-lg btn-facebook btn-block" type="submit" value="Login via Github">
                  </form>
			    </div>
			</div>
		</div>





<!--<div  class="col-md-6 offset-md-3">

<form  method="POST">
    
    {%  csrf_token %}
  <div class="form-group">
  
    <input type="text" class="form-control"  placeholder="Enter UserName"   name="username">
  </div>  

  <div class="form-group">

    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password"  name="password">
  </div>

  <p><strong>-- OR --</strong></p>
  <a href="{% url 'social:begin' 'github' %}">Login with GitHub</a><br>
  <a href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>

  <button type="submit" class="btn btn-primary">Login</button>
</form>

</div>-->

{% endblock  %} 