{%  extends 'authenticate/base.html' %}
{% block content %}
<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
{% load static %}

<style>
 .white{
    color:#000;
    background-color:#fff;
}

.btn-facebook {
    color: #ffffff;
    -webkit-text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #000000;
    *background-color: #000000;
    background-image: -moz-linear-gradient(top, #3b5998, #000000);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#000000), to(#000000));
    background-image: -webkit-linear-gradient(top, #3b5998, #000000);
    background-image: -o-linear-gradient(top, #3b5998, #000000);
    background-image: linear-gradient(to bottom, #696969, #000000);
    background-repeat: repeat-x;
    border-color: #133783 #133783 #091b40;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff3b5998', endColorstr='#ff133783', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}

    .btn-facebook:hover,
    .btn-facebook:focus,
    .btn-facebook:active,
    .btn-facebook.active,
    .btn-facebook.disabled,
    .btn-facebook[disabled] {
        color: #ffffff;
        background-color: #133783 !important;
        *background-color: #102e6d !important;
    }

    .btn-facebook:active,
    .btn-facebook.active {
        background-color: #0d2456 \9 !important;
    }
</style>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<h2   class="text-center">Register yourself</h2>

<div class="container">
    <div class="row">
    	<div class="col-md-8 col-md-offset-2">
    		<div class="panel panel-default">
			  	<div class="panel-heading">
			    	<h3 class="panel-title">CodeSnippets</h3>
			 	</div>
			  	<div class="panel-body">


<form  method="POST"  action="{% url  'register'   %}"> 
	{%  csrf_token   %}
    {% if form.errors %}
        <div  class="alert alert-info alert-dismissable" role="alert">
        <button  class="close"  data-dismiss="alert"  >
            <small><sup>x</sup></small>

        </button>
       <p>Your Form Has Errors </p> 

        {% for field in form  %}   
         
            {%  if field.errors  %}
                 {{ field.errors }}
               {% endif %}
               {% endfor %}  
             

     </div>
          
    {% endif  %}

    {{ form }}

    <input type="submit"  value="Register"  class="btn btn-secondary">
</form>
      </div>
			</div>
</div>




{% endblock  %}