{%  extends 'authenticate/base.html' %}
{% block content %}
{% load static %}


<style>
    @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu:hover li img {
    display: block !important;
}

.main-menu {
margin-top: 58px;
background:#212121;
border-right:1px solid #e5e5e5;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;

}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

</style>
<head>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
    /* USER PROFILE PAGE */
 .card {
    margin-top: 0px;
    padding: 30px;
    background-color: rgba(214, 224, 226, 0.2);
    -webkit-border-top-left-radius:5px;
    -moz-border-top-left-radius:5px;
    border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-top-right-radius:5px;
    border-top-right-radius:5px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.card.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 1);
}
.card.hovercard .card-background {
    height: 130px;
}
.card-background img {
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
    margin-left: -100px;
    margin-top: -200px;
    min-width: 130%;
}
.card.hovercard .useravatar {
    position: absolute;
    top: 15px;
    left: 0;
    right: 0;
}
.card.hovercard .useravatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255, 255, 255, 0.5);
}
.card.hovercard .card-info {
    position: absolute;
    bottom: 14px;
    left: 0;
    right: 0;
}
.card.hovercard .card-info .card-title {
    padding:0 5px;
    font-size: 20px;
    line-height: 1;
    color: #262626;
    background-color: rgba(255, 255, 255, 0.1);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.card.hovercard .card-info {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}
.card.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
.btn-pref .btn {
    -webkit-border-radius:0 !important;
}

/* profile.css */


.float-left {
float:left;
width:20%;
}
/*.right-lab {
    margin-left: 1% !important;

}*/

.border {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

}

.profil_image  img
{
	border: 1px solid #32E65F;
	border-radius: 50%;
    border: 3px solid green;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

a.btn.btn-danger.btn-sm {
    border: 2px solid green;
    color: green;
    background: white;
}
</style>
<!------ Include the above in your HEAD tag ---------->
</head>





{% if user.is_authenticated    %}





{% if profile.role_user  == 0  and  user.id ==  usert.id    %}




<div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                  <br>
                  
                </li>
                <li class="has-subnav">
                    <a href="/projpost/buyerprojects">
                        <i class="fa fa-leaf" aria-hidden="true"></i>
                        <span class="nav-text">
                            My projects Posted
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="/projpost/Post/">
                       <i class="fa fa-bookmark-o fa-2x"></i>
                        <span class="nav-text">
                            Post Project
                        </span>
                    </a>
                   
                </li>
               
            </ul>

            <ul class="logout">
                <li>
                   <a href="#">
                         
                        <span class="nav-text">
                           
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
{% elif  profile.role_user  == 1  and  user.id ==  usert.id  %}



<div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                  <br>
                  
                </li>
                <li class="has-subnav">
                    <a href="/projpost/bidsfreelancer/">
                        <i class="fa fa-leaf" aria-hidden="true"></i>
                        <span class="nav-text">
                            My Bids Posted
                        </span>
                    </a>
                    
                </li>
          
               
                <li class="has-subnav">
                    <a href="/projpost/allprojects/">
                       <i class="fa fa-bookmark-o fa-2x"></i>
                        <span class="nav-text">
                            Find Projects
                        </span>
                    </a>
                   
                </li> 



            </ul>

            <ul class="logout">
                <li>
                   <a href="#">
                         
                        <span class="nav-text">
                           
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>







{% endif %}


<div class="col-lg-12 col-sm-12 " style="margin-left:0px;">
    <div class="card hovercard">
        <div class="card-background">
            <img class="card-bkimg" alt="" src="/media/{{ profile.image }}">
            <!-- http://lorempixel.com/850/280/people/9/ -->
        </div>
        <div class="useravatar">
            <img alt="" src="/media/{{ profile.image }}">
        </div>
        <div class="card-info"> <span class="card-title">{{ usert.username|title }}</span>

        </div>
    </div>
    <div class="btn-pref btn-group btn-group-justified btn-group-lg" role="group" aria-label="...">
        <div class="btn-group" role="group">
            <button type="button" id="stars" class="btn btn-primary" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-star" aria-hidden="true"></span>
                <div class="hidden-xs">Profile</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="favorites" class="btn btn-default" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-heart" aria-hidden="true"></span>
                <div class="hidden-xs">Description</div>
            </button>
        </div>
        <div class="btn-group" role="group">
            <button type="button" id="following" class="btn btn-default" href="#tab3" data-toggle="tab"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>
                <div class="hidden-xs"> My Work</div>
            </button>
        </div>
    </div>

        <div class="well">
      <div class="tab-content">
        <div class="tab-pane fade in active" id="tab1" style="margin:80px;">


<div class="row">
  <div class="col-6"></div>
  <div class="col-lg-12">

      {% if profile.role_user  == 1  and  user.id ==  usert.id    %}

       <button type="button" class="btn btn-primary">
       Remaining bids  &nbsp&nbsp<span class="badge badge-light">{{profile.remainbids}}</span>
       <span class="sr-only">Remaining bids</span>
       <a href="/projpost/bidsfreelancer/" ></a>

      </button>   



     <a href="/projpost/allprojects/" class="btn btn-success" role="button">Explore Projects and Bid</a>
      <a href="/editprofile/{{  usert.id  }}" class="btn btn-default" role="button">Edit Information</a>
   {% elif  profile.role_user  == 0  and  user.id ==  usert.id  %}

     <a href="/projpost/Post/" class="btn btn-success" role="button">Post Project</a>
      <a href="/editprofile/{{  usert.id  }}" class="btn btn-default" role="button">Edit Information</a>
   {% endif %}
  </div>
</div>
    <br>
    <div > <span style="float:left;"> Name : &nbsp;</span><b>
      <p>&nbsp;&nbsp;&nbsp; {{ usert.first_name|title }} _  {{ usert.last_name|title }}  </p></b></div>

    <span> <i class="fa fa-map-marker" aria-hidden="true"></i> {{ profile.city|title }} </span>



        </div>
        <div class="tab-pane fade in" id="tab2" style="margin:80px;">

                <h4> Description </h4>
    <div   class="border" style="min-height: 90px; word-wrap: break-word;  padding: 10px;
" >{{ profile.description|title }}</div>



<h4>{{ usert.username|title }}'s Contact Info </h4>

<div class="Personal  border"  >

<div>
  <p>Email: {{ usert.email }}</p>
</div>


<div>

{% if profile.role_user  == 1 %}

   <p><b>Freelancer<b></p>
{% else %}

   <p><b>Buyer</b></p>



{% endif %}

</div>

<div>
      <p>website: {{ profile.website }}</p>
      <p>Phone Number: {{ profile.phone }}</p>

</div>


</div>
        </div>
        <div class="tab-pane fade in" id="tab3" style="margin:80px;">



{% if profile.role_user  == 1   %}


<h4>Freelancer's Qualities</h4>

{% else %}

<h4>Required Freelancer in</h4>

{% endif %}



<div class="Qualities border"    style="min-height: 58px; margin-top: 2%;" >

<div class="container"  style="margin-top: 1.5%;">

  {% if qualities.Django  == 'Django' %}
  <span class="label label-default  right-lab"> Django </span>
  {% endif %}

  {% if qualities.asp  == 'asp' %}
  <span class="label label-primary  right-lab"> Asp.Net </span>
  {% endif %}


  {% if qualities.Php  == 'Php' %}
  <span class="label label-success  right-lab">PHP Frameworks</span>
  {% endif %}

  {% if qualities.MEANStack  == 'MEANStack' %}
  <span class="label label-info     right-lab">MEANSTACK</span>
 {% endif %}

 {% if qualities.Javascript  == 'Javascript' %}
<span class="label label-warning    right-lab">Javascript</span>
 {% endif %}

{% if qualities.HTML  == 'HTML' %}
  <span class="label label-danger right-lab">HTML</span>
{% endif %}

{% if qualities.CSS  == 'CSS' %}
  <span class="label label-success right-lab">CSS</span>
{% endif %}

</div>


</div>

{% if profile.role_user  == 1   %}


<h4>{{ usert.username }}'s Snippets </h4>

<div class="My Snippets border"   style="margin-top: 2%;  min-height: 15px" >

<div class="container" >

    <div class="row">
         {% for mi in matched %}
<div class="col-lg-3  "  style="margin:2%; margin-bottom:2%"   >
<div class="company_profile_info" style="width: 25rem; margin: 0px; border: 2px solid #32E65F; ">
    <img class="img-thumbnail"src="/media/{{ mi.image }}" class="img-responsive" alt="Card image cap" style="width:100%;
    height: 200px; ">
    <div class="card-body">
    <h5 class="card-title">{{ mi.title|title }}</h5>
    <p class="card-text">{{ mi.name|title }}</p>
    <!--<div class="producttitle"   style="    width: 230px;
    word-wrap: break-word;"  > <b>Description</b>  : {{ mi.description }}</div>-->
     <a href="/snippets/all/snip_descri/{{mi.id}}" class="btn btn-danger btn-sm">Description</a>
    </div>
 </div>
    </div>
        {% endfor %}
</div>
<!--<div class="col-xs-3  "  style="border: 2px solid #EC4734;  margin-top: 2%;"   >
    <img src="/media/{{ mi.image }}"   width="300px" class="img-responsive">
    <div class="producttitle">{{ mi.name }}</div>
    <div class="producttitle">{{ mi.title }}</div>
     <div class="producttitle">{{ mi.description }}</div>


    <div class="productprice"><div class="pull-right"><a href="/snippets/all/snip_descri/{{mi.id}}" class="btn btn-primary btn-sm" role="button">Description</a></div></div>


</div>-->




</div>




</div>

{% elif  profile.role_user  == 0   %}


{% endif %}



{% if profile.role_user  == 1   %}

<h4>{{ usert.username }}'s  Project's </h4>

<div class="RecentProjects  border"   style="margin-top: 2%;  min-height: 10px" >

<div class="row">
         {% for po in projcon %}
<div class="col-lg-3  "  style="margin:2%; margin-bottom:2%"   >
<div class="company_profile_info" style="width: 25rem; margin: 0px; border: 2px solid #32E65F; ">
    
    <div class="card-body">
    <h5 class="card-title">{{ po.title }}</h5>
     <p> status     &nbsp : &nbsp<span class="card-text">{{ po.status }}</span> </p>
     <p>   progress  &nbsp:&nbsp<span class="card-text">{{ po.progress }}</span> </p>
  
    <!--<div class="producttitle"   style="    width: 230px;
    word-wrap: break-word;"  > <b>Description</b>  : {{ mi.description }}</div>-->
     <a href="/projpost/showproject/{{po.proj_id}}" class="btn btn-primary btn-sm">Description</a>
    </div>
 </div>
    </div>
        {% endfor %}
</div>





</div>




{% elif  profile.role_user  == 0   %}

<h4>buyer posted Project </h4>



<div class="RecentProjects  border"   style="margin-top: 2%;  min-height: 10px" >

<div class="row">
         {% for po in projs %}
<div class="col-lg-3  "  style="margin:2%; margin-bottom:2%"   >
<div class="company_profile_info" style="width: 25rem; margin: 0px; border: 2px solid #32E65F; ">
    
    <div class="card-body">
    <h5 class="card-title">{{ po.title }}</h5>
    <p class="card-text">{{ po.description }}</p>
    <!--<div class="producttitle"   style="    width: 230px;
    word-wrap: break-word;"  > <b>Description</b>  : {{ mi.description }}</div>-->
     <a href="/projpost/buyerprojects/" class="btn btn-primary btn-sm">Description</a>
    </div>
 </div>
    </div>
        {% endfor %}
</div>





</div>



 {% endif %}



        </div>
      </div>
    </div>

    </div>
















<script>
    $(document).ready(function() {
$(".btn-pref .btn").click(function () {
    $(".btn-pref .btn").removeClass("btn-primary").addClass("btn-default");
    // $(".tab").addClass("active"); // instead of this do the below
    $(this).removeClass("btn-default").addClass("btn-primary");
});
});
</script>










{%  endif  %}




















{% endblock  %}