$light-blue: #3498db;
$black: #000000;

body {
  width: 100%;
  height: 100%;
  font-family: "Open Sans", "open-sans", sans-serif;
  letter-spacing: 0.03em;
  line-height: 1.6;
  color: $black;
}

.container {
  width: 1090px;
  min-width: 600px;
  height: 430px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  }

  .card {
    width: 200px;
    height: 200px;
    float: left;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    position: relative;
    top: 0;
    text-align: center;
    transition: all 0.25s;

    &:nth-child(2) {
      margin: 0 50px;
    }

    &:hover {
      top: -15px;
      box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
    }

    h4 {
      font-weight: 600;
    }

    p {
      padding: 0 1rem;
      font-size: 16px;
      font-weight: 300;
    }

    a {
      font-weight: 500;
      text-decoration: none;
      color: $light-blue;
    }
  }
}




.productbox {
    background-color:#ffffff;
	padding:10px;
	margin-bottom:10px;
	-webkit-box-shadow: 0 8px 6px -6px  #999;
	   -moz-box-shadow: 0 8px 6px -6px  #999;
	        box-shadow: 0 8px 6px -6px #999;
}

.producttitle {
    font-weight:bold;
	padding:5px 0 5px 0;
}

.productprice {
	border-top:1px solid #dadada;
	padding-top:5px;
}

.pricetext {
	font-weight:bold;
	font-size:1.4em;
}


.snippets {
    border: 2px purple solid;
}


.col-xs-6.eveluation {
    margin-left: 8%;
    height: 50%;
    min-height: 151px;
    border: 2px #8b1a89 solid;
    width: 32%;
}

a.btn.btn-success.btn-sm {
    width: 36%;
    color: green;
    border: 2px solid green;
    background: white;
}

a.btn.btn-success.btn-sm {
    background: white;
    color: green;
    width: 32%;
}

a.btn.btn-success.btn-sm.change {
    background: white;
    color: #3168B6;
    border: 2px solid #3168B6 !important;
    width: 48%;
}