.upperbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    width: 17%;
    color: #6FD05F;
    font-size: 19px;
    padding: 12px 24px;
    border: 2px solid #6FD05F;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;

}
.upperbutton2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    width: 17%;
    color: #6FD05F;
    font-size: 19px;
    padding: 12px 24px;
    border: 2px solid #6FD05F;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}


.box2 {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
}

.card-body
{
  width:30px;
 -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.img-thumbnail
{
 -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;

}

.free
{
color: #6FD05F;
border: 1px solid #6FD05F;

}

.uppertext
{

    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 50%;
    color: black;
    font-size: 67px;
    padding: 12px 24px;
    border-radius: 5px;
    text-align: center;
    background: white;
    z-index: 999999;
}

.center-text
{
    color: black;
    font-size: 27px;
    border-radius: 5px;
    text-align: center;
;
}

a.btn.btn-success.btn-sm.free {
    color: green;
    border: 2px solid green;
    background: white;
}