.float-left {
float:left;
width:20%; 
}
/*.right-lab {
    margin-left: 1% !important;
   
}*/

.border {
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;

}

.profil_image  img
{   
	border: 1px solid #32E65F;
	border-radius: 50%;
    border: 3px solid green;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

a.btn.btn-danger.btn-sm {
    border: 2px solid green;
    color: green;
    background: white;
}