/*input.form-control {
    width: 50%;
}

textarea.form-control.rounded-0 {
    width: 50%;
}

select.btn.btn-primary.dropdown-toggle {
    width: 43%;
}
*/
span.fa.fa-commenting {
    height: 0px !important;
    width: 0px !important;
    font-size: 15px  !important;
    vertical-align: baseline !important;
   } 
a.dropdown-toggle {
    color: black;
}
p.newmess
{

    background: wheat;
    border: 1px black solid;
}

p.progress
{

color: #CCCC00 !important;
font-weight: bold !important;
}

p.Completed
{
font-weight: bold !important;
color: green !important;

}

p.expired
{
font-weight: bold !important;
color: red !important;
}

p.statustext b {
    color: white;
    background: green;
}

i.fa.fa-file-text-o.size {
    font-size: 18px;
    color: green;
}
#time p
{
padding-bottom: 8px;
}

button.btn.btn-sm.btn-primary {
    width: 30%;
}


label {
    font-weight: bold;
}

.col-md-8.offset-md-3 {
    border: 1px solid;
    padding: 10px;
    box-shadow: 3px 0pc 6px 10px #800080;
}

.form-group.floating
{
 float: left;
 width:20%;
}


 .dropdown-menu.notify-drop {
  min-width: 330px;
  background-color: #fff;
  min-height: 360px;
  max-height: 360px;
}
 .dropdown-menu.notify-drop .notify-drop-title {
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 15px 10px 15px;
}
 .dropdown-menu.notify-drop .drop-content {
  min-height: 280px;
  max-height: 280px;
  overflow-y: scroll;
}
 .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

 .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

 .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
 .dropdown-menu.notify-drop .drop-content > li {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0px 5px 0px;
}
 .dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
  background-color: #fafafa;
}
 .dropdown-menu.notify-drop .drop-content > li:after {
  content: "";
  clear: both;
  display: block;
}
.dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: #fcfcfc;
}
 .dropdown-menu.notify-drop .drop-content > li:last-child {
  border-bottom: none;
}
 .dropdown-menu.notify-drop .drop-content > li .notify-img {
  float: left;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0px 0px 8px 0px;
}
 .dropdown-menu.notify-drop .allRead {
  margin-right: 7px;
}
.dropdown-menu.notify-drop .rIcon {
  float: right;
  color: #999;
}
.dropdown-menu.notify-drop .rIcon:hover {
  color: #333;
}
.dropdown-menu.notify-drop .drop-content > li a {
  font-size: 12px;
  font-weight: normal;
}
 .dropdown-menu.notify-drop .drop-content > li {
  font-weight: bold;
  font-size: 11px;
}
.dropdown-menu.notify-drop .drop-content > li hr {
  margin: 5px 0;
  width: 70%;
  border-color: #e2e2e2;
}
 .dropdown-menu.notify-drop .drop-content .pd-l0 {
  padding-left: 0;
}
 .dropdown-menu.notify-drop .drop-content > li p {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  margin: 3px 0;
}
 .dropdown-menu.notify-drop .drop-content > li p.time {
  font-size: 10px;
  font-weight: 600;
  top: -6px;
  margin: 8px 0px 0px 0px;
  padding: 0px 3px;
  border: 1px solid #e2e2e2;
  position: relative;
  background-image: linear-gradient(#fff,#f2f2f2);
  display: inline-block;
  border-radius: 2px;
  color: #B97745;
}
.dropdown-menu.notify-drop .drop-content > li p.time:hover {
  background-image: linear-gradient(#fff,#fff);
}
 .dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  position: relative;
  padding: 8px 15px;
}
.dropdown-menu.notify-drop .notify-drop-footer a {
  color: #777;
  text-decoration: none;
}
.dropdown-menu.notify-drop .notify-drop-footer a:hover {
  color: #333;
}