

<html>

    <head>
        <title>
        </title>
    </head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="//js.pusher.com/4.0/pusher.min.js"></script>
    <style>
        .chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

    </style>
    <body>
        <div class="container">
          
         <h1> <span  style="color: green">Chat Panel for : </span> {{project.title}}</h1>
         <h4><span  style="color: green" >Estimated budget</span> :   {{ project.budget }}<span>$</span><h4>



    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-comment"></span> Chat
                    
                </div>
                <div class="panel-body">
                    
                    <ul class="chat" id="chat">
                    {% for mi in newmessages %}
                    <li class="left clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&amp;text={{mi.user}}" alt="User Avatar" class="img-circle">
                        </span>
                        
                            <div class="chat-body clearfix">

                                <div class="header">
                                    <strong class="primary-font">{{mi.user}}</strong>
                                </div>
                                <p class="pull-right" >
                                   {{mi.message}}
                                </p>
                            </div>

                             {% endfor %}
                        </li>

                    </ul>
                </div> 

                

                <div class="panel-footer">
                    <div class="input-group">
                        <input id="btn-input" class="form-control input-sm" placeholder="Type your message here..." type="text">
                        <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" id="btn-chat">
                                Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var pusher = new Pusher('4b34c484eeb9fe4f4142');
    var my_channel = pusher.subscribe('a_channel');
    my_channel.bind("an_event", function (data) {
        var new_message = `<li class="left clearfix"><span class="chat-img pull-left">
                            <img src="http://placehold.it/50/55C1E7/fff&amp;text=`+data.name+`" alt="User Avatar" class="img-circle">
                        </span>
                            <div class="chat-body clearfix">
                                <div class="header">
                                    <strong class="primary-font">`+data.name+`</strong> <small class="pull-right text-muted">
                                </div>
                                <p>
                                   `+data.message+`
                                </p>
                            </div>
                        </li>`;
    $('#chat').append(new_message);
     
    });

    $(document).ready(function(){
        $("#btn-chat").click(function(){
             var message = $('#btn-input').val();
             
            $.post({
                url: '/ajax/chat/',
                data: {
                'message': message
                },
                success: function (data) {
               
               
                    $('#btn-input').val('');
                
                }
            });


           $.post({
                url: '/projpost/message/{{project.id}}/',
                data: {
                'message': message
                },
                success: function (data) {
                    
                    $('#btn-input').val('');
                
                }
            });




        })
    })
   
</script>

    </body>
</html>
