{%  extends 'authenticate/base.html' %}
{% block content %}
{% load static %}

<style>
    @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu:hover li img {
    display: block !important;
}

.main-menu {
margin-top: 58px;
background:#212121;
border-right:1px solid #e5e5e5;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;

}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}


</style>
<!--<link rel="stylesheet" type="text/css" href="{% static 'snippet.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'categories.css' %}" />-->

<style>
    .upperbutton {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    width: 17%;
    color: #6FD05F;
    font-size: 19px;
    padding: 12px 24px;
    border: 2px solid #6FD05F;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;

}
.upperbutton2 {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    width: 17%;
    color: #6FD05F;
    font-size: 19px;
    padding: 12px 24px;
    border: 2px solid #6FD05F;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
}


.box2 {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
}

.card-body
{
  width:30px;
 -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.img-thumbnail
{
 -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;

}

.free
{
color: #6FD05F;
border: 1px solid #6FD05F;

}

.uppertext
{

    position: absolute;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    width: 50%;
    color: black;
    font-size: 67px;
    padding: 12px 24px;
    border-radius: 5px;
    text-align: center;
    background: white;
    z-index: 999999;
}

.center-text
{
    color: black;
    font-size: 27px;
    border-radius: 5px;
    text-align: center;
;
}

a.btn.btn-success.btn-sm.free {
    color: green;
    border: 2px solid green;
    background: white;
}

</style>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">







 <div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                    <a href="/">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="/snippets/snipcategory/meanstack/">
                        <i class="fa fa-leaf" aria-hidden="true"></i>
                        <span class="nav-text">
                            MEAN Stack
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="/snippets/snipcategory/django/">
                       <i class="fa fa-drupal fa-2x"></i>
                        <span class="nav-text">
                            Django Web
                        </span>
                    </a>

                </li>
                <li>
                    <a href="/snippets/snipcategory/asp/">
                        <i class="fa fa-spinner fa-2x"></i>
                        <span class="nav-text">
                           Asp.Net
                        </span>
                    </a>
                </li>
                  <li>
                    <a href="/snippets/snipcategory/php/">
                       <i class="fa fa-pinterest-p fa-2x"></i>
                        <span class="nav-text">
                            PHP
                        </span>
                    </a>
                </li>
                  <li>
                   <a href="/snippets/snipcategory/css/">
                        <i class="fa fa-css3 fa-2x"></i>
                        <span class="nav-text">
                            Css & Css3
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a href="/snippets/snipcategory/html/">
                       <i class="fa fa-html5 fa-2x"></i>
                        <span class="nav-text">
                            Html
                        </span>
                    </a>

                </li>
                <li>
                   <a href="/snippets/snipcategory/javascript/">
                       <i class="fa fa-jsfiddle fa-2x"></i>
                        <span class="nav-text">
                            Javascript
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a href="#">

                        <span class="nav-text">

                        </span>
                    </a>
                </li>
            </ul>
        </nav>









<h3 class="center-text" >Snippets</h3>
<hr style="border-color:#6FD05F;">
<div class="container" style="margin-bottom:6px;">
<div class="col-xs-12">

<form type="get" action="{% url 'snipsearch' %}" accept-charset="utf-8">
    <input style="width: 50% ; display: inline-block;" class="form-control" type="search" id="q"  value="{{request.Get.q}}"  name="q" placeholder="Search..."/>
    <button class="btn btn-success" type="submit" >Search</button>
</form>

</div>
</div>

<div style="margin-right: 10%;
    text-align: center;"><h3>{{category_name}}</h3></span></div>






    {% if snippet == 'None' %}

      <div class="container">
      <div class="row">

        <h3>No Snippet Found</h3>
       
      </div>
    </div>

    {%  else %}


<br>
<div class="container">
<div class="row">
<br>
{% for mi in snippet %}
<div class="col-lg-3" style="border-left: 2px solid  #00B400 ;width: 150px; margin-bottom:6px; " >
 <div  class="box2"  >
    <img style="width: 250px;
    border: 2px solid  #00B400 ;
    height: 15vw;
    object-fit: cover;" class="img-thumbnail"src="/media/{{ mi.image }}" class="img-responsive" alt="Card image cap">
    <div class="card-body" style="height:220px; width:250px;" >
    <h5 class="card-title" style="object-fit: hiden;">{{ mi.title|title }}</h5>
    <p class="card-text">{{ mi.name|title }}</p>
     <p class="card-text">
       {% if mi.description|wordcount <= 3 %}
               {{ mi.description }}
            {% else %}
               {{ mi.description| truncatewords:2 }}
            {% endif %}
            <a href="{% url 'snip_descri' mi.id %}">Read more</a>

       </p>

    <!--<div class="producttitle"   style="    width: 230px;
    word-wrap: break-word;"  > <b>Description</b>  : {{ mi.description }}</div>-->
     <a style="float: left; width: 35%;
    margin-right: 6%;" href="/snippets/all/snip_descri/{{mi.id}}" class="btn btn-success btn-sm">Explore</a>

          <a style="width: 46%;" href="/snippets/all/requestform/{{mi.id}}" class="change btn btn-success btn-sm">Request change</a>

    <!--<div class="producttitle"   style="    width: 230px;
    word-wrap: break-word;"  > <b>Description</b>  : {{ mi.description }}</div>-->

   <div  style="margin-top: 2%;
    width: 80%;" id="cata">

  {% if mi.Django  == 'Django' %}
  <span class="label label-default  right-lab"> Django </span>
  {% endif %}

  {% if mi.asp  == 'asp' %}
  <span class="label label-primary  right-lab"> Asp.Net </span>
  {% endif %}


  {% if mi.Php  == 'php' %}
  <span class="label label-success  right-lab">PHP Frameworks</span>
  {% endif %}

  {% if mi.MEANStack  == 'meanStack' %}
  <span class="label label-info     right-lab">MEANSTACK</span>
 {% endif %}

 {% if mi.Javascript  == 'Javascript' %}
<span class="label label-warning    right-lab">Javascript</span>
 {% endif %}

{% if mi.HTML  == 'html' %}
  <span class="label label-danger right-lab">HTML</span>
{% endif %}

{% if mi.CSS  == 'css' %}
  <span class="label label-success right-lab">CSS</span>
{% endif %}

</div>






















    </div>
 </div>

    <!-- href="event/showunmatched/{{ mi.id }}" -->
</div>


{% endfor %}


  </div>
    <br>
     <br>
     <br>
     <br>
    <div class="pagination text-center" style="background: white;margin-top:2px
  position: absolute;
  bottom: 0;

  text-align: center;  ">
    <span class="step-links">
        {% if snippet.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ snippet.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
             {{ snippet.number }}
        </span>

        {% if snippet.has_next %}
            <a href="?page={{ snippet.next_page_number }}">next</a>
            <a href="?page={{ snippet.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
</div>

    <br>
    <br>
<!--<div class="container text-centre" >
   <nav aria-label="...">
  <ul class="pagination" style="">
      {% if snippet.has_previous %}
    <li class="page-item disabled">
      <span class="page-link"><a href="?page=1"> &laquo;First</a>
      </span>
    </li>

    <li class="page-item"><a class="page-link" href="?page={{ snippet.previous_page_number }}">Pre</a></li>
      {% endif %}
    <li class="page-item active">
      <span class="page-link">
        {{ snippet.number }}
        <span class="sr-only">(current)</span>
      </span>
    </li>
      {% if snippet.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ snippet.next_page_number }}">next</a></li>
    <li class="page-item">
      <a class="page-link" href="?page={{ snippet.paginator.num_pages }}">Last</a>
    </li>
     {% endif %}
  </ul>
</nav>
    </div>
<script src="https://ajax.googleapis.com/ajax/libs/ext-core/3.1.0/ext-core.js"></script>
<script>
 //   $('h3').hide(6000)
</script>




<!--

<div class="container">
<div class="row">

{% for mi in snippet %}
<div class="col-lg-4" >
 <div class="company_profile_info" style="width: 18rem; margin-bottom:2px;border:2px solid #32E65F; ">
    <img class="img-thumbnail"src="/media/{{ mi.image }}" class="img-responsive" alt="Card image cap" style="width:100%;
    height: 200px;">
    <div class="card-body">
    <h5 class="card-title">{{ mi.title|title }}</h5>
    <p class="card-text">{{ mi.name }}</p>
     <p class="card-text">{% if mi.description|wordcount <= 3  %}
               {{ mi.description }}
            {% else %}
               {{ mi.description| truncatewords:5 }}
            {% endif %}</p>
           <a href="{% url 'snip_descri' mi.id %}">Read more</a>
    <!--<div class="producttitle"   style="    width: 230px;
    word-wrap: break-word;"  > <b>Description</b>  : {{ mi.description }}</div>-->
   <!--  <a href="snip_descri/{{mi.id}}" class="btn btn-success btn-sm">Explore</a>
     <a href="requestform/{{mi.id}}" class="change btn btn-success btn-sm">Request change</a>
    </div>
 </div>
    <!-- href="event/showunmatched/{{ mi.id }}" -->
<!--</div>
{% endfor %}



  </div>
</div>
<!------------------------------------------------------
{% for mi in snippet %}

<div class="container">
<div class="row">


<div class="col-xs-6 productbox snippets ">
    <img src="/media/{{ mi.image }}"   width="300px" class="img-responsive">
    <div class="producttitle">{{ mi.name }}</div>
    <div class="producttitle">{{ mi.title }}</div>


    <div class="productprice"><div class="pull-right"><a href="snip_descri/{{mi.id}}" class="btn btn-danger btn-sm" role="button">BUY</a></div><div class="pricetext">£5.00</div></div>

    <!-- href="event/showunmatched/{{ mi.id }}" -->
<!--</div>


<div class="col-xs-6  eveluation ">


 <div class="producttitle"> <b>Description</b>  : {{ mi.description }}</div>




</div>


  </div>
</div>


 {% endfor %}



</div>-->

{% endif %}

{% endblock  %}