{%  extends 'authenticate/base.html' %}


{% block content %}






<div class="col-xs-7 productbox snippets ">
    <img src="https://i1.wp.com/www.ecommerce-nation.com/wp-content/uploads/2018/01/Skrill-1.png"   width="180px" class="img-responsive">
 
                                                               
</div>

{% if user.is_authenticated    %}

  <form method="POST"     accept-charset="utf-8" enctype="multipart/form-data"     >
        {% csrf_token %}




    <div style="50%" class="form-group">
            <label for="Account">Enter your Account Number</label>
            <input type="text" class="form-control"  name="Account"  required="required"/>

        </div>


         

        <div class="form-group">

            <button type="submit" class="btn btn-sm btn-primary" ><span class="glyphicon glyphicon-edit"></span> Buy </button>
        </div>

    </form>     


{% else %}



<h4> Sorry Skrill Cann't proccedd without Login, Kindly login before payment procceed  </h4>









{%  endif  %}

{% endblock  %}