{%  extends 'authenticate/base.html' %}




{% block content %}


<br>
<br>
   <div class="container">
   	<div class="col-md-8 col-md-offset-4">
    <form method="post">
    {% csrf_token %}

         

               <h5>Description of Change Request</h5>
         <p  style="border:1px green solid ; word-wrap: break-word;">   {{ chang.description }}   </p>



        <h2>Are you sure you want to Start </h2>
        <button type="submit" class="btn btn-Sucess" >Yes</button>
        <a href="/snippets/mySnips/deletenotification/{{chang.id}}" class="btn btn-danger" role="button">No</a>

    </form>
</div>
</div>






{% endblock %}