{%  extends 'authenticate/base.html' %}
{% block content %}
{% load static %}

<!-- <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" /> -->
<head>
  
  

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       
</head>


<br>
<br>

<div class="container">

<h2   class="text-center"  style="    background: #32E65F; color: white;  border: 3px solid #32E65F;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;" > Create New snippets </h2>

<br>

{% if user.is_authenticated    %}

<div  class="col-md-12"  style="border: 2px block solid ; border: 3px solid #32E65F;"  >
    <form method="POST"     accept-charset="utf-8" enctype="multipart/form-data"     >
        {% csrf_token %}

<br>



            <div class="form-group">
            <label for="name"><bold>Snippet type<bold></label>
        <select  class="btn btn-success dropdown-toggle"   name="role_snip"  required="required"  >
             <option >                    Select One Option  </option>
             <option value="free">Free</option>
             <option value="paid">Paid</option>
         </select>
        </div>


        <div class="form-group  floating">
          <input type="hidden" name="codeop" value="0"> 
         <input type="checkbox" name="codeop" value="1" >Check Optimization ratio<br>
      </div>
     <br>
     <br>


        <div class="form-group">
            <label for="name"><b>Name</b></label>
            <input type="text"  class="form-control"  name="name"  required="required"/>
        </div>


         
        <div class="form-group">
            <label for="title"><b>Title</b></label>
            <input type="text"  class="form-control"  name="title"  required="required"/>
        </div>

        

        <div class="form-group">
            <label for="link"><b>Usage Detail</b></label>
            <textarea class="form-control rounded-0" name="description" rows="10"></textarea>
        </div>


        <div class="form-group">
            <label for="Description"><b>Code</b></label>
            <textarea class="form-control rounded-0" name="code" rows="10"></textarea>
        </div>


        <div class="form-group">
            <label for="file"><b>User Manual</b></label>
            <input type="file" name="File"  required="required"/>

        </div>

         <div class="form-group">
            <label for="image"><b>photo</b></label>
            <input type="file" name="image"  required="required"/>

        </div>

        
        <h4   class="text-center"  style="    background: #32E65F; color: white;  border: 3px solid #32E65F;" > Snippet code Technologies </h4>    


       <div class="form-group floating">
         <input type="hidden" name="Django" value="0"> 
         <input type="checkbox" name="Django" value="Django">Django<br>
         

          </div>

         <div class="form-group  floating">
         <input type="hidden" name="Asp" value="0" > 
         <input type="checkbox" name="Asp" value="asp" > Asp.Net<br>


          </div>

          <div class="form-group  floating">
         <input type="hidden" name="php" value="0" >
         <input type="checkbox" name="php" value="php" > PHP<br>

          </div>

          <div class="form-group  floating">
         <input type="hidden" name="meanStack" value="0" >
         <input type="checkbox" name="meanStack" value="meanStack" > MEAN Stack<br>
          </div>

          <div class="form-group  floating">
         <input type="hidden" name="Javascript" value="0" >
         <input type="checkbox" name="Javascript" value="Javascript" > Javascript<br>
          </div>

          <div class="form-group floating">
         <input type="hidden" name="html" value="0" >
         <input type="checkbox" name="html" value="html" > HTML<br>
          </div>
          
          <div class="form-group  floating">
         <input type="hidden" name="css" value="0" >
         <input type="checkbox" name="css" value="css" > CSS<br>

          </div>





         

        <div class="form-group">
            <button type="submit"   class="btn btn-sm btn-primary" style="width:20%"><span class="glyphicon glyphicon-edit"></span> Save </button>
        </div>

    </form>


</div>




<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        New Snippet Added </div>
      <div class="modal-footer">
        <a href="/" class="btn btn-success">Go to home page</a>

      </div>
    </div>
  </div>
</div>












{% else %}



<h4> Kindly Login Or SignUp And select Role as Freelancer to create snippet  </h4>









{%  endif  %}



</div>



<script type="text/javascript" >
    
if ( "{{alert}}" == 1) 
{
  $('#exampleModalCenter').modal('show');
}

</script>





{% endblock %}


