{%  extends 'authenticate/base.html' %}
{% block content %}
{% if user.is_authenticated    %}



{% for mi in matched %}

<div class="container">
<div class="col-xs-4 productbox snippets"  style="border: 2px solid black;  margin-top: 2%; margin-left: 2%;  float: left; width: 30% "  >
    <img src="/media/{{ mi.image }}"   width="300px" class="img-responsive">
    <div class="producttitle">{{ mi.name }}</div>
    <div class="producttitle">{{ mi.title }}</div>
     <div class="producttitle"  style="word-wrap: break-word;"> <b>Description</b>  : {{ mi.description }}</div>
                                                                
    <div class="productprice"><div class="pull-right"><a href="/snippets/all/delete_snip/{{mi.id}}" class="btn btn-danger " role="button">Delete</a></div></div>


     <a href="/snippets/all/update_snip/{{mi.id}}" class="btn btn-primary " role="button">Update</a>

    <!-- href="event/showunmatched/{{ mi.id }}" -->
</div>




  </div>
</div>


 {% endfor %}




{% else %}


<h4>Login to View this page</h4>





{%  endif  %}









{% endblock  %}