

{%  extends 'authenticate/base.html' %}














{% block content %}

    <form method="post">
    {% csrf_token %}
        <h2>Are you sure you want to delete</h2>
        <button type="submit" class="btn btn-danger" >Delete</button>

    </form>







{% endblock %}