{%  extends 'authenticate/base.html' %}





{% block content %}



{% load static %}

<head>
  
  

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
       
</head> 



<br>
<br>

<div class="container">

<h2   class="text-center"  style="    background: #00AE29; color: white;  border: 3px solid #00AE29;  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;" ><b>Change Snippet Request<b></h2>



{% if user.is_authenticated    %}

<div  class="col-md-12"  style="border: 2px block solid ; border: 3px solid #00AE29;"  >
    <form method="POST"     accept-charset="utf-8" enctype="multipart/form-data"     >
        {% csrf_token %}



         <div class="form-group">
            <label for="title"><b>Title</b></label>
            <input type="text"  class="form-control"  name="title"  required="required"/>
        </div>

        

        <div class="form-group">
            <label for="link"><b>Changing Details</b></label>
            <textarea class="form-control rounded-0" name="description" rows="10"></textarea>
        </div>


         

        <div class="form-group">
            <button type="submit"  style="background-color: white;border: #00AE29;color: #00AE29; border:2px solid #00AE29"  class="btn btn-sm btn-primary" style="width:17%"><span class="glyphicon glyphicon-edit"></span> Save </button>
        </div>

    </form>


</div>





<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Change request Send. </div>
      <div class="modal-footer">
        <a href="/" class="btn btn-success">Go to home page</a>

      </div>
    </div>
  </div>
</div>












{% else %}



<h4> Kindly Login Or SignUp And select Role as Freelancer to create snippet  </h4>









{%  endif  %}



</div>



<script type="text/javascript" >
    
if ( "{{alert}}" == 1) 
{
  $('#exampleModalCenter').modal('show');
}

</script>




{% endblock %}


