



{%  extends 'authenticate/base.html' %}










{% block content %}

  <div  class="col-md-12"  style="border: 2px block solid ; border: 3px solid purple;"  >
    <form method="POST"     accept-charset="utf-8" enctype="multipart/form-data"     >
        {% csrf_token %}




        <div class="form-group">
            <label for="name"><b>Name</b></label>
            <input type="text"  class="form-control"  value="{{snippet.name}}"  name="name"  required="required"/>
        </div>


         
        <div class="form-group">
            <label for="title"><b>Title</b></label>
            <input type="text"  class="form-control"   value="{{snippet.title}}"    name="title"  required="required"/>
        </div>

        

        <div class="form-group">
            <label for="link"><b>Usage Detail</b></label>
            <textarea class="form-control rounded-0"    name="description" rows="10">{{snippet.description}} </textarea>
        </div>


        <div class="form-group">
            <label for="Description"><b>Code</b></label>
            <textarea class="form-control rounded-0"     name="code" rows="10">{{snippet.code}} </textarea>
        </div>




         

        <div class="form-group">
            <button type="submit"   class="btn btn-sm btn-primary" style="width:20%"><span class="glyphicon glyphicon-edit"></span> Save </button>
        </div>

    </form>


</div>
{% endblock %}