{%  extends 'authenticate/base.html' %}
{%  include 'authenticate/sidemenu.html' %}
{% block content %}
{% load static %}

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<style>



.productbox {
    background-color:#ffffff;
	padding:10px;
	margin-bottom:10px;
	-webkit-box-shadow: 0 8px 6px -6px  #999;
	   -moz-box-shadow: 0 8px 6px -6px  #999;
	        box-shadow: 0 8px 6px -6px #999;
}

.producttitle {
    font-weight:bold;
	padding:5px 0 5px 0;
}

.productprice {
	border-top:1px solid #dadada;
	padding-top:5px;
}

.pricetext {
	font-weight:bold;
	font-size:1.4em;
}


.snippets {
    border: 2px purple solid;
}


.col-xs-6.eveluation {
    margin-left: 8%;
    height: 50%;
    min-height: 151px;
    border: 2px #8b1a89 solid;
    width: 32%;
}

a.btn.btn-success.btn-sm {
    width: 36%;
    color: green;
    border: 2px solid green;
    background: white;
}

a.btn.btn-success.btn-sm {
    background: white;
    color: green;
    width: 32%;
}

a.btn.btn-success.btn-sm.change {
    background: white;
    color: #3168B6;
    border: 2px solid #3168B6 !important;
    width: 48%;
}
</style>
<style>
    @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu:hover li img {
    display: block !important;
}

.main-menu {
margin-top: 58px;
background:#212121;
border-right:1px solid #e5e5e5;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;

}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

</style>
 <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<br>





  <div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                    <a href="/">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="/projpost/category/meanstack/">
                        <i class="fa fa-leaf" aria-hidden="true"></i>
                        <span class="nav-text">
                            MEAN Stack
                        </span>
                    </a>

                </li>
                <li class="has-subnav">
                    <a href="/projpost/category/django/">
                       <i class="fa fa-drupal fa-2x"></i>
                        <span class="nav-text">
                            Django Web
                        </span>
                    </a>

                </li>
                <li>
                    <a href="/projpost/category/asp/">
                        <i class="fa fa-spinner fa-2x"></i>
                        <span class="nav-text">
                           Asp.Net
                        </span>
                    </a>
                </li>
                  <li>
                    <a href="/projpost/category/php/">
                       <i class="fa fa-pinterest-p fa-2x"></i>
                        <span class="nav-text">
                            PHP
                        </span>
                    </a>
                </li>
                  <li>
                   <a href="/projpost/category/css/">
                        <i class="fa fa-css3 fa-2x"></i>
                        <span class="nav-text">
                            Css & Css3
                        </span>
                    </a>
                </li>
                <li class="has-subnav">
                    <a href="/projpost/category/html/">
                       <i class="fa fa-html5 fa-2x"></i>
                        <span class="nav-text">
                            Html
                        </span>
                    </a>

                </li>
                <li>
                   <a href="/projpost/category/javascript/">
                       <i class="fa fa-jsfiddle fa-2x"></i>
                        <span class="nav-text">
                            Javascript
                        </span>
                    </a>
                </li>
            </ul>

            <ul class="logout">
                <li>
                   <a href="#">

                        <span class="nav-text">

                        </span>
                    </a>
                </li>
            </ul>
        </nav>


<div style="margin-right: 10%;
    text-align: center;"><h3>{{category_name}}</h3></span></div>




<div class="container">

<div class="col-xs-8">

<form type="get" action="{% url 'search' %}" accept-charset="utf-8">
    <input style="width: 50% ; display: inline-block;" class="form-control" type="search" id="q"  value="{{request.Get.q}}"  name="q" placeholder="Search..."/>
    <button class="btn btn-success" type="submit" >Search</button>
</form>

</div>
</div>


{% if snippet == 'None' %}
<div class="containernew">
      <div  style="position: relative; text-align: center; ">
        <h3>Nothing is found related to query</h3>
      </div>
</div>
{%  else %}

{% for mi in snippet %}



<div class="container1"style="width:1090px; margin-left:20px;margin-top:10px">
<div class="row">



<div class="col-md-6 productbox " id="mydiv" style="width:200px;background:white;margin-left:200px; border: 2px solid  #00B400 " onmouseover="this.style.background='#E6E6FA';" onmouseout="this.style.background='white';  " >

<!--     <embed src= "/media/{{ mi.file }}" width= "500" height= "375"> -->
    <a href="/projpost/showproject/{{ mi.id }}">{{ mi.title|title }}</a>
    <div class="submissiondata">{{ mi.submit_time }}</div>       <div class="budget"><span>Estimated budget </span>{{ mi.budget }}<span>$</span>
    </div>
    <hr style="border-bottom: 1px solid darkblue;">
    </br>

    <div style="word-wrap: break-word" class="description">{{ mi.description|title }}</div>
    </br>

    <div id="cata">

  {% if mi.Django  == 'Django' %}
  <span class="label label-default  right-lab"> Django </span>
  {% endif %}

  {% if mi.asp  == 'asp' %}
  <span class="label label-primary  right-lab"> Asp.Net </span>
  {% endif %}


  {% if mi.Php  == 'Php' %}
  <span class="label label-success  right-lab">PHP Frameworks</span>
  {% endif %}

  {% if mi.MEANStack  == 'MEANStack' %}
  <span class="label label-info     right-lab">MEANSTACK</span>
 {% endif %}

 {% if mi.Javascript  == 'Javascript' %}
<span class="label label-warning    right-lab">Javascript</span>
 {% endif %}

{% if mi.HTML  == 'HTML' %}
  <span class="label label-danger right-lab">HTML</span>
{% endif %}

{% if mi.CSS  == 'CSS' %}
  <span class="label label-success right-lab">CSS</span>
{% endif %}

</div>


</div>












 {% endfor %}

{%  endif %}





{% endblock  %}