{%  extends 'authenticate/base.html' %}


{% block content %}

{% load static %}



<style>

    @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu:hover li img {
    display: block !important;
}

.main-menu {
margin-top: 58px;
background:#212121;
border-right:1px solid #e5e5e5;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;

}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

</style>
<head>

 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  
  

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  
      


 <style>
    .productbox {
    background-color:#ffffff;
  padding:10px;
  margin-bottom:10px;
  -webkit-box-shadow: 0 8px 6px -6px  #999;
     -moz-box-shadow: 0 8px 6px -6px  #999;
          box-shadow: 0 8px 6px -6px #999;
}
.snippets {
    border: 2px purple solid;
}
</style>     

</head> 








<br>




<!-- <div class="sidenav">
  
  <img src="/media/{{ profile.image }}" width="140px"     style="" "  ></img>
  
   <hr style="border-bottom: 1px solid darkblue;">
    </br>
  <button type="button" class="btn btn-primary">Bids Count total<span class="badge">1</span></button>

  <a href="/projpost/buyerprojects">My projects Posted</a>
  <!-- <a href="#">In progress</a>
  <a href="#">Completed</a>
  <a href="#">Contact</a> -->
</div>
 -->

<div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                  <img src="/media/{{ profile.image }}" width="140px"     style="display: none;"  >
                  
                </li>
                <li class="has-subnav">
                    <a href="/projpost/buyerprojects">
                        <i class="fa fa-leaf" aria-hidden="true"></i>
                        <span class="nav-text">
                            My projects Posted
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-drupal fa-2x"></i>
                        <span class="nav-text">
                            Profile
                        </span>
                    </a>
                   
                </li>
               
            </ul>

            <ul class="logout">
                <li>
                   <a href="#">
                         
                        <span class="nav-text">
                           
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>











{% for mi in matched %}

<div class="container">
<div class="row">


<div class="col-md-12 productbox snippets        id="mydiv" style="width:200px;background:white" onmouseover="this.style.background='#E6E6FA';" onmouseout="this.style.background='white';          ">

<!--     <embed src= "/media/{{ mi.file }}" width= "500" height= "375"> -->
    <a >{{ mi.title }}</a>
     
<a href="/projpost/bids/{{mi.id}}" class="btn btn-success" role="button"> Check all BID'S</a>
<a href="/projpost/progress/{{mi.id}}" class="btn btn-primary" role="button"> Check Project Progress</a>

<a href="/projpost/invitefreelancer/{{mi.id}}" class="btn btn-info" role="button"> Invite freelancer</a>

<a href="/projpost/deletpro/{{mi.id}}" class="btn btn-danger" role="button"> Delete this project</a>
<a href="/projpost/editpro/{{mi.id}}" class="btn btn-primary" role="button"> Edit this project</a>


    <div class="submissiondata">{{ mi.submit_time }}</div>       <div class="budget"><span>Estimated budget</span>{{ mi.budget }}<span>$</span>
    </div>
    <hr style="border-bottom: 1px solid darkblue;">
    </br>
     
    <div  style="word-wrap: break-word" class="description">{{ mi.description }}</div>
    </br>

  <div class="container">

  {% if mi.Django  == 'Django' %}
  <span class="label label-default  right-lab"> Django </span>
  {% endif %}

  {% if mi.asp  == 'asp' %}
  <span class="label label-primary  right-lab"> Asp.Net </span>
  {% endif %}


  {% if mi.Php  == 'Php' %}
  <span class="label label-success  right-lab">PHP Frameworks</span>
  {% endif %}

  {% if mi.MEANStack  == 'MEANStack' %}
  <span class="label label-info     right-lab">MEANSTACK</span>
 {% endif %}
 
 {% if mi.Javascript  == 'Javascript' %}
<span class="label label-warning    right-lab">Javascript</span>
 {% endif %} 

{% if mi.HTML  == 'HTML' %}
  <span class="label label-danger right-lab">HTML</span>
{% endif %}  

{% if mi.CSS  == 'CSS' %}
  <span class="label label-success right-lab">CSS</span>
{% endif %}

</div>


</div>












 {% endfor %}

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bid Deleted </div>
     
    </div>
  </div>
</div>



<script type="text/javascript" >
    
if ( "{{alert}}" == 1) 
{
  $('#exampleModalCenter').modal('show');
}

</script>










{% endblock  %}