{%  extends 'authenticate/base.html' %}




{% block content %}


<br>
<br>
   <div class="container">
    <div class="col-md-8 col-md-offset-4">
    <form method="post">
    {% csrf_token %}

         


      <form method="POST"     accept-charset="utf-8" enctype="multipart/form-data"     >
        {% csrf_token %}

    <div class="form-group">
            <label for="title"><b>Title</b></label>
            <input type="text"  class="form-control"  name="title"  required="required"/>
        </div>

      <div class="form-group">
            <input type="hidden" id="freelancid" name="freelancid" value="{{ userid }}">
       </div>

        <div class="form-group">
            <input type="hidden" id="projid" name="projid" value="{{ projid }}">
       </div>



        <div class="form-group">
            <button type="submit"    class="btn btn-sm btn-primary"  ><span class="glyphicon glyphicon-edit"></span> Invite Freelancer  </button>
        </div>
  

    </form>
</div>
</div>







<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div  style="margin-right: 46%;"  class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Invitation Sent</div>
      <div class="modal-footer">
        <a href="/" class="btn btn-success">Go to home page</a>

      </div>
    </div>
  </div>
</div>













<script type="text/javascript">
  


$(document).ready(function(){

if ( "{{alert}}" == 1) 
{
  $('#exampleModalCenter').modal('show');
}


});





</script>



{% endblock %}