{%  extends 'authenticate/base.html' %}


{% block content %}



<head>

 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  
  

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  
        

</head>








<br>
<br>
<br>
<br>

{% if  cont == 0   %}

<div class="container">
<div class="row">


<form method="post">
    {% csrf_token %}
        <h2>Are you sure you want to delete?</h2>
        <button type="submit" class="btn btn-danger" >Yes</button>
        <a href="/projpost/buyerprojects/" class="btn btn-primary">No</a>
          
    </form>

</div>
</div>



 {% else %}



<div class="container">
<div class="row">

<h3>You can't delete This project as it is in Contract or Deleted</h3>

</div>
</div>




{% endif %} 


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
 -->        </button>
      </div>
      <div class="modal-body">
        Deleted Successfully </div>
      <div class="modal-footer">
        <a href="/projpost/buyerprojects/" class="btn btn-success">Go to Posted Projects</a>

      </div>
    </div>
  </div>
</div>



<script type="text/javascript" >
    
if ( "{{alert}}" == 1) 
{
  $('#exampleModalCenter').modal('show');
}

</script>



{% endblock  %}