{%  extends 'authenticate/base.html' %}





{% block content %}

{% load static %}


<style>

    .form-group.floating
{
 float: left;
 width:20%;
}
s

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    margin-top: 62px;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4B0082;
    overflow-x: hidden;
    padding-top: 55px;
}

.sidenav a {
    padding: 12px 1px 0px 4px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: black;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



.col-xs-12 {
  white-space: nowrap !important;
  max-width: 100%;
  overflow: auto;
}
.col-xs-3 {
  float: none !important;
  display: inline-block !important;
}
.col-xs-3 a {
  height: 100px;
  background: pink;
  display: block;
  margin-top: 10px;
  padding: 10px
}


button.btn.btn-sm.btn-primary {
    background: white;
    border: 2px solid green;
    color: green;
}
</style>
<head>
  
  

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<style>
    /*input.form-control {
    width: 50%;
}

textarea.form-control.rounded-0 {
    width: 50%;
}

select.btn.btn-primary.dropdown-toggle {
    width: 43%;
}
*/
span.fa.fa-commenting {
    height: 0px !important;
    width: 0px !important;
    font-size: 15px  !important;
    vertical-align: baseline !important;
   }
a.dropdown-toggle {
    color: black;
}
p.newmess
{

    background: wheat;
    border: 1px black solid;
}

p.progress
{

color: #CCCC00 !important;
font-weight: bold !important;
}

p.Completed
{
font-weight: bold !important;
color: green !important;

}

p.expired
{
font-weight: bold !important;
color: red !important;
}

p.statustext b {
    color: white;
    background: green;
}

i.fa.fa-file-text-o.size {
    font-size: 18px;
    color: green;
}
#time p
{
padding-bottom: 8px;
}

button.btn.btn-sm.btn-primary {
    width: 30%;
}


label {
    font-weight: bold;
}

.col-md-8.offset-md-3 {
    border: 1px solid;
    padding: 10px;
    box-shadow: 3px 0pc 6px 10px #800080;
}

.form-group.floating
{
 float: left;
 width:20%;
}


 .dropdown-menu.notify-drop {
  min-width: 330px;
  background-color: #fff;
  min-height: 360px;
  max-height: 360px;
}
 .dropdown-menu.notify-drop .notify-drop-title {
  border-bottom: 1px solid #e2e2e2;
  padding: 5px 15px 10px 15px;
}
 .dropdown-menu.notify-drop .drop-content {
  min-height: 280px;
  max-height: 280px;
  overflow-y: scroll;
}
 .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-track
{
  background-color: #F5F5F5;
}

 .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

 .dropdown-menu.notify-drop .drop-content::-webkit-scrollbar-thumb
{
  background-color: #ccc;
}
 .dropdown-menu.notify-drop .drop-content > li {
  border-bottom: 1px solid #e2e2e2;
  padding: 10px 0px 5px 0px;
}
 .dropdown-menu.notify-drop .drop-content > li:nth-child(2n+0) {
  background-color: #fafafa;
}
 .dropdown-menu.notify-drop .drop-content > li:after {
  content: "";
  clear: both;
  display: block;
}
.dropdown-menu.notify-drop .drop-content > li:hover {
  background-color: #fcfcfc;
}
 .dropdown-menu.notify-drop .drop-content > li:last-child {
  border-bottom: none;
}
 .dropdown-menu.notify-drop .drop-content > li .notify-img {
  float: left;
  display: inline-block;
  width: 45px;
  height: 45px;
  margin: 0px 0px 8px 0px;
}
 .dropdown-menu.notify-drop .allRead {
  margin-right: 7px;
}
.dropdown-menu.notify-drop .rIcon {
  float: right;
  color: #999;
}
.dropdown-menu.notify-drop .rIcon:hover {
  color: #333;
}
.dropdown-menu.notify-drop .drop-content > li a {
  font-size: 12px;
  font-weight: normal;
}
 .dropdown-menu.notify-drop .drop-content > li {
  font-weight: bold;
  font-size: 11px;
}
.dropdown-menu.notify-drop .drop-content > li hr {
  margin: 5px 0;
  width: 70%;
  border-color: #e2e2e2;
}
 .dropdown-menu.notify-drop .drop-content .pd-l0 {
  padding-left: 0;
}
 .dropdown-menu.notify-drop .drop-content > li p {
  font-size: 11px;
  color: #666;
  font-weight: normal;
  margin: 3px 0;
}
 .dropdown-menu.notify-drop .drop-content > li p.time {
  font-size: 10px;
  font-weight: 600;
  top: -6px;
  margin: 8px 0px 0px 0px;
  padding: 0px 3px;
  border: 1px solid #e2e2e2;
  position: relative;
  background-image: linear-gradient(#fff,#f2f2f2);
  display: inline-block;
  border-radius: 2px;
  color: #B97745;
}
.dropdown-menu.notify-drop .drop-content > li p.time:hover {
  background-image: linear-gradient(#fff,#fff);
}
 .dropdown-menu.notify-drop .notify-drop-footer {
  border-top: 1px solid #e2e2e2;
  bottom: 0;
  position: relative;
  padding: 8px 15px;
}
.dropdown-menu.notify-drop .notify-drop-footer a {
  color: #777;
  text-decoration: none;
}
.dropdown-menu.notify-drop .notify-drop-footer a:hover {
  color: #333;
}
</style>

    <style>
       @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu:hover li img {
    display: block !important;
}

.main-menu {
margin-top: 58px;
background:#212121;
border-right:1px solid #e5e5e5;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;

}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}


    </style>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  
       
<div>

</head> 



<script type="text/javascript" >
    


</script>




{% load static %}







<br>
<div class="container">

<h2   class="text-center"  style="background: #32E65F; color: white;  border: 3px solid #32E65F;"     > Update Project </h2>



{% if user.is_authenticated    %}



<div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                  <img src="/media/{{ profile.image }}" width="140px"     style="display: none;"  >
                  
                </li>
                <li class="has-subnav">
                    <a href="/projpost/buyerprojects">
                        <i class="fa fa-leaf" aria-hidden="true"></i>
                        <span class="nav-text">
                            My projects Posted
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="#">
                       <i class="fa fa-drupal fa-2x"></i>
                        <span class="nav-text">
                            Profile
                        </span>
                    </a>
                   
                </li>
               
            </ul>

            <ul class="logout">
                <li>
                   <a href="#">
                         
                        <span class="nav-text">
                           
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>



 
{% if cont == 0  %}
 
<div  class="col-md-12"  style="border: 2px block solid ; border: 3px solid green;"  >
    <form method="POST"     accept-charset="utf-8" enctype="multipart/form-data"     >
        {% csrf_token %}




     <div class="form-group">

         <label for="date"><b>Submission Date</b></label>
         <p> Already Set time is : <span>{{project.submit_time}}</span> </p>
  <input type="datetime-local" class="form-control" name="submissiondata"  required="required"">
  </div>







        <div class="form-group">
            <label for="name"><b>Budget</b></label>
            <input type="number" class="form-control"  value="{{project.budget}}" name="budget"  required="required" min="3" step="any" />
           
        </div>


         
        <div class="form-group">
            <label for="title"><b>Title</b></label>
            <input type="text"  class="form-control"  value="{{project.title}}"  name="title"  required="required"/>
        </div>



        <div class="form-group">
            <label for="link"><b>WorkFlow Detail</b></label>
            <textarea class="form-control rounded-0"    name="description" rows="10">{{project.description}}</textarea>
        </div>
  

  

<!-- 
         <div class="form-group">
            <label for="file"><b>Attach PDF</b></label>
            <input type="file" name="File"  value="{{project.file}}" required="required"/>

        </div> -->


     <h4   class="text-center"  style="    background: #32E65F; color: white;  border: 3px solid #32E65F;" > Selected Required Skills </h4>    


       









         <div class="form-group floating">
         <input type="hidden" name="Django" value="0"> 
         <input type="checkbox" name="Django" value="django"  id="Django"  >Django<br>
         

          </div>

         <div class="form-group  floating">
         <input type="hidden" name="Asp" value="0" > 
         <input type="checkbox" name="Asp" value="asp"  id="net"  > Asp.Net<br>


          </div>

          <div class="form-group  floating">
         <input type="hidden" name="php" value="0" >
         <input type="checkbox" name="php" value="1"  id="Php"  > PHP<br>

          </div>

          <div class="form-group  floating">
         <input type="hidden" name="meanStack" value="0" >
         <input type="checkbox" name="meanStack" value="MEANStack" id="mean"  > MEAN Stack<br>
          </div>

          <div class="form-group  floating">
         <input type="hidden" name="Javascript" value="0" >
         <input type="checkbox" name="Javascript" value="Javascript"   id="javascript"   > Javascript<br>
          </div>

          <div class="form-group floating">
         <input type="hidden" name="html" value="0" >
         <input type="checkbox" name="html" value="HTML"   id="html"  > HTML<br>
          </div>
          
          <div class="form-group  floating">
         <input type="hidden" name="css" value="0" >
         <input type="checkbox" name="css" value="CSS"  id="css"  > CSS<br>

          </div>











        <div class="form-group">
            <button type="submit"    class="btn btn-sm btn-primary"  style="width:20%"><span class="glyphicon glyphicon-edit"></span> Save </button>
        </div>

    </form>


<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Project data updated </div>
      <div class="modal-footer">
        <a href="/projpost/buyerprojects/" class="btn btn-success">Go to Posted Projects</a>

      </div>
    </div>
  </div>
</div>



</div>

{% else %}


<h4> Project is completed or in progress so Can't update project </h4>


{%  endif  %}





{% else %}



<h4> Kindly Login Or SignUp And select Role as Freelancer to create snippet  </h4>









{%  endif  %}



</div>



<script type="text/javascript" >
    
if ( "{{alert}}" == 1) 
{
  $('#exampleModalCenter').modal('show');
}




$(document).ready(function(){


if({{project.Django}}  == 'Django')
{    
document.getElementById("django").checked = true;
}
if({{project.asp}}  == 'asp' )
{    
document.getElementById("net").checked = true;
}
if({{ project.Php }}  == 'Php')
{    
document.getElementById("php").checked = true;
}
if( {{ project.MEANStack }}  == 'MEANStack')
{    
document.getElementById("mean").checked = true;
}
if( {{ project.Javascript }} == 'Javascript')
{    
document.getElementById("javascript").checked = true;
}
if( {{ project.HTML }}  == 'HTML')
{    
document.getElementById("html").checked = true;
}
if( {{ project.CSS }}  == 'CSS')
{    
document.getElementById("css").checked = true;
}











});
















</script>









{% endblock %}


