{%  extends 'authenticate/base.html' %}
{%  include 'authenticate/sidemenu.html' %}


{% block content %}

{% load static %}

<!-- <link rel="stylesheet" type="text/css" href="{% static 'snippet.css' %}" /> -->

<style>
    @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu:hover li img {
    display: block !important;
}

.main-menu {
margin-top: 58px;
background:#212121;
border-right:1px solid #e5e5e5;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;

}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}

</style>
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<br>

 <style>
    .productbox {
    background-color:#ffffff;
  padding:10px;
  margin-bottom:10px;
  -webkit-box-shadow: 0 8px 6px -6px  #999;
     -moz-box-shadow: 0 8px 6px -6px  #999;
          box-shadow: 0 8px 6px -6px #999;
}
.snippets {
    border: 2px purple solid;
}
</style>   



  




<div style="margin-right: 10%;
    text-align: center;"><h3>{{category_name}}</h3></span></div>

<div class="container">
<div class="col-xs-12"> 

<form type="get" action="{% url 'searchinvite' %}" accept-charset="utf-8">
    <input style="width: 50% ; display: inline-block;" class="form-control" type="search" id="q"  value="{{request.Get.q}}"  name="q" placeholder="Search..."/>
    <button class="btn btn-success" type="submit" >Search</button>
</form>

</div>
</div>
<br>
<br>


{% for mi in invite %}



<div class="container">
<div class="row">



<div class="col-md-6 productbox snippets" id="mydiv" style="width:200px;background:white;margin-left:200px" onmouseover="this.style.background='#E6E6FA';" onmouseout="this.style.background='white';  ">

    <embed src= "/media/{{ mi.image }}" width= "100" height= "100">  
    <a href="/Userprofile/{{ mi.user_id }}">Explore Full Profile</a>

<!-- 
      <form method="POST"     accept-charset="utf-8" enctype="multipart/form-data"     >
        {% csrf_token %}

    <div class="form-group">
            <label for="title"><b>Title</b></label>
            <input type="text"  class="form-control"  name="title"  required="required"/>
        </div>

      <div class="form-group">
            <input type="hidden" id="Freelancerid" name="Freelancerid" value="{{ mi.user_id }}">
       </div>

        <div class="form-group">
            <input type="hidden" id="projid" name="projid" value="{{ projid }}">
       </div>



        <div class="form-group">
            <button type="submit"    class="btn btn-sm btn-primary"  ><span class="glyphicon glyphicon-edit"></span> Invite Freelancer  </button>
        </div>
  -->
     
     <a href="/projpost/invitefreelancer/confirmation/{{projid}}/{{ mi.user_id }}" class="btn btn-primary" role="button"> Invite Freelancer</a>

  
    
    <div class="description">{{ mi.description }}</div>       <div class="budget"><span>Contact Info </span>{{ mi.website }}<span>$</span>
    </div>
    <hr style="border-bottom: 1px solid darkblue;">
    </br>
     
    </br>

    
</div>





<div class="container">

  {% if mi.Django  == 'Django' %}
  <span class="label label-default  right-lab"> Django </span>
  {% endif %}

  {% if mi.asp  == 'asp' %}
  <span class="label label-primary  right-lab"> Asp.Net </span>
  {% endif %}


  {% if mi.Php  == 'Php' %}
  <span class="label label-success  right-lab">PHP Frameworks</span>
  {% endif %}

  {% if mi.MEANStack  == 'MEANStack' %}
  <span class="label label-info     right-lab">MEANSTACK</span>
 {% endif %}
 
 {% if mi.Javascript  == 'Javascript' %}
<span class="label label-warning    right-lab">Javascript</span>
 {% endif %} 

{% if mi.HTML  == 'HTML' %}
  <span class="label label-danger right-lab">HTML</span>
{% endif %}  

{% if mi.CSS  == 'CSS' %}
  <span class="label label-success right-lab">CSS</span>
{% endif %}

</div>






 {% endfor %}




<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:red"  >Send Invitation</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       


      </div>
      <div class="modal-footer">
        



        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        

      </div>
    </div>
  </div>
</div>







{% endblock  %}