{%  extends 'authenticate/base.html' %}
{% block content %}
{% load static %}




<style>

    .form-group.floating
{
 float: left;
 width:20%;
}
s

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    margin-top: 62px;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4B0082;
    overflow-x: hidden;
    padding-top: 55px;
}

.sidenav a {
    padding: 12px 1px 0px 4px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: black;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



.col-xs-12 {
  white-space: nowrap !important;
  max-width: 100%;
  overflow: auto;
}
.col-xs-3 {
  float: none !important;
  display: inline-block !important;
}
.col-xs-3 a {
  height: 100px;
  background: pink;
  display: block;
  margin-top: 10px;
  padding: 10px
}


button.btn.btn-sm.btn-primary {
    background: white;
    border: 2px solid green;
    color: green;
}
</style>
<html>
<head>
<title>
        </title>
</head>  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>    
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
p {
  text-align: center;
  font-size: 60px;
  margin-top: 0px;
}
</style>

<body>

<div class="container"> 




<form  id="new"  action="/projpost/setprogress/{{contr.proj_id}}/" method="POST">
  <input type="hidden"  name="q" value="a">
</form>





{% if  contr.proj_id   %}

{% if profile.role_user  == 0  %}

<h3>Remaining Time</h3>

{% if fc.status  == 'Completed' %}
<p style="background: #07C28F" >Work Done!</p>

{% else %}

<p style="background: #07C28F" id="demo"></p>
{% endif %}

<input type="button" class="btn btn-info" value="Talk With Freelancer" onclick="location.href = '/my/{{contr.proj_id}}';">


  <h2>Progress Bar on project</h2>
  <div class="progress">
    <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:{{contr.progress}}%">
      {{contr.progress}}%
    </div>
</div>

<h3>Status of Work<h3>

<div style="border: 1px solid #07C28F ;  padding: 12px; margin-top: 10px">
{% if fc.status  == 'Completed'    %}

<button style="width: 40% ; margin:auto;
  display:block;" type="button" class="btn btn-success">{{fc.status}}</button>


{% else %}

<button  style="width: 40% ; margin:auto;
  display:block;"  type="button" class="btn btn-warning">{{contr.status}}</button>


{% endif %}

</div>



<h3>Submitted Work</h3>
<div style="border:1px solid #07C28F ;padding: 12px;">

{% if fc.finalCode  %}



    <a href="/media/{{fc.finalCode}}"><button>Download Code</button></a>


</div>
{% endif %}
{% else %}






<h1> Remaining Time to submit project  </h1>
<h3>Remaining Time</h3>
<p style="background: #07C28F" id="demo"></p>
<h3>Update progress</h3>


<input type="button" class="btn btn-info" value="Talk With buyer" onclick="location.href = '/my/{{contr.proj_id}}';">

 <form method="POST"     accept-charset="utf-8" enctype="multipart/form-data"     >
        {% csrf_token %}
<div class="form-group">
            <label for="name"><b>Tell Buyer Progress in percentage</b></label>
            <input type="number" class="form-control"  name="progress"  required="required" min="1" step="any" />
</div>
<div class="form-group">
            <button type="submit"    class="btn btn-sm btn-primary" style="width:20%"><span class="glyphicon glyphicon-edit"></span> update </button>
</div>

</form>


<div style="border: 1px solid #07C28F ;  padding: 12px;">
  <form method="POST"     accept-charset="utf-8" enctype="multipart/form-data" >
        {% csrf_token %}
<div class="form-group">
            <label for="file"><b>Upload final work</b></label>
            <input type="file" name="final_work"  required="required"/>

</div>

<div class="form-group">
            <button type="submit"    class="btn btn-sm btn-success" style="width:20%"><span class="glyphicon glyphicon-edit"></span> Upload </button>
</div>

</form>
</div>



<div style="border: 1px solid #07C28F ;  padding: 12px; margin-top: 10px">
{% if fc.status  == 'Completed' %}

<button style="width: 40% ; margin:auto;
  display:block;" type="button" class="btn btn-success">{{fc.status}}</button>


{% else %}

<button  style="width: 40% ; margin:auto;
  display:block;"  type="button" class="btn btn-warning">{{contr.status}}</button>


{% endif %}

</div>






{% endif %}


{% else %}

<h1>No contract has Been Made yet</h1>
{% endif %}
</div>

<script>
   var time="{{time}}"; 
   
// Set the date we're counting down to
var countDownDate = new Date(time).getTime();

// Update the count down every 1 second
var x = setInterval(function() {

    // Get todays date and time
    new Date(time).getTime();
    var now = new Date().getTime();
    
    // Find the distance between now and the count down date
    var distance = countDownDate - now;
    
    // Time calculations for days, hours, minutes and seconds
    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
    // Output the result in an element with id="demo"
    document.getElementById("demo").innerHTML = days + "d :" + hours + "h :"
    + minutes + "m :" + seconds + "s ";
    
    // If the count down is over, write some text 
    
    if (distance < 0) {
        clearInterval(x);

        if( "{{contr.status}}"  == "Progress"  )
         {
           
           

         myFunction();

         }
        document.getElementById("demo").innerHTML = "EXPIRED";
        
        


         
    }
}, 1000);



function myFunction() {


document.getElementById('new').submit(); 


  // $.post({

  //      url: '/projpost/setprogress/{{bid.projid}}/',
  //       data: {
  //       'message': "{{contr.status}}"
  //        },
  //        success: function (data) {
  //         alert(message);
               
                
  //           }
  //       });



}







</script>


</body>
</html>
{% endblock  %}