{%  extends 'authenticate/base.html' %}


{% block content %}

<head>
  
  

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
 <style>

.form-group.floating
{
 float: left;
 width:20%;
}
s

body {
    font-family: "Lato", sans-serif;
}

.sidenav {
    height: 100%;
    margin-top: 62px;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #4B0082;
    overflow-x: hidden;
    padding-top: 55px;
}

.sidenav a {
    padding: 12px 1px 0px 4px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
}

.sidenav a:hover {
    color: black;
}

.main {
    margin-left: 200px; /* Same as the width of the sidenav */
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}



.col-xs-12 {
  white-space: nowrap !important;
  max-width: 100%;
  overflow: auto;
}
.col-xs-3 {
  float: none !important;
  display: inline-block !important;
}
.col-xs-3 a {
  height: 100px;
  background: pink;
  display: block;
  margin-top: 10px;
  padding: 10px
}


button.btn.btn-sm.btn-primary {
    background: white;
    border: 2px solid green;
    color: green;
}
 </style>
       
<div>

</head>	



<script type="text/javascript" >
	
  $('#myModal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
})


</script>




{% load static %}





<br>





<div class="container">
<div class="row">

    

<div class="col-md-12">
  <div class="col-md-4">


<span>Estimated budget</span> :   {{ project.budget }}<span>$</span>

    <br>
<div >
    <div class="productName">{{ project.name }}</div>
    
   <hr>


    <div class="producttitle"  style="word-wrap: break-word;">{{ project.title }}</div>
   <hr>


    <div class="description"  style="word-wrap: break-word;">{{ project.description }}</div>
     
   <hr>  



</div>                                                       

  
<br>

<!-- <div  class="pull-left"><a href="/projpost/bidform/{{project.id}}" class="btn btn-warning" role="button">BID ON PROJECT</a></div> -->


{% if  profile.role_user == 1 %}


<div class="col-md-12">

{% if cont.status  == 'Completed'  or   cont.status  == 'Progress' or   cont.status  == 'EXPIRED'  %}

<span style="color:red" >Cant bid  or delete bid  project in progress or Done or Expired</span>



{% else %}


  {% if  already   %}
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  Update bid Quote 
</button>
 {% else %}

 <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
  BID ON PROJECT 
</button>

 {% endif %} 


{% endif %}


</div>







{% else %}
 
<p style="color:red">Buyer or owner can't bid on project</p> 
{% endif %}



   <br>
   <br>   
<br>
   <br>



  {% if project.Django  == 'Django' %}
  <span class="btn btn-primary  right-lab"> Django </span>
  {% endif %}

  {% if project.asp  == 'asp' %}
  <span class="btn btn-success right-lab"> Asp.Net </span>
  {% endif %}


  {% if project.Php  == 'Php' %}
  <span class="btn btn-danger right-lab">PHP Frameworks</span>
  {% endif %}

  {% if project.MEANStack  == 'MEANStack' %}
  <span class="btn btn-success     right-lab">MEANSTACK</span>
 {% endif %}
 
 {% if mprojecti.Javascript  == 'Javascript' %}
<span class="btn btn-warning    right-lab">Javascript</span>
 {% endif %} 

{% if project.HTML  == 'HTML' %}
  <span class="btn btn-info right-lab">HTML</span>
{% endif %}  

{% if project.CSS  == 'CSS' %}
  <span class="btn btn-success right-lab">CSS</span>
{% endif %}















  </div>
  <div class="col-md-6">



    <embed src= "/media/{{ project.file }}"  width="150%" height= "600">












  </div>

</div>



</div>









{% if profile.remainbids >= 1 %}


<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">BID QUOTE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       

        <form method="POST"     accept-charset="utf-8" enctype="multipart/form-data"     >
        {% csrf_token %}



        <div class="form-group">
            <label for="name"><b>Bid Price</b></label>
            <input type="number" class="form-control"  name="price"  required="required" min="3" step="any" />
           
        </div>




        <div class="form-group">
            <label for="link"><b>Cover letter</b></label>
            <textarea class="form-control rounded-0" name="description" rows="10"></textarea>
        </div>
  

  

         <div class="form-group">
            <label for="file"><b>Attach CV</b></label>
            <input type="file" name="File"  required="required"/>

        </div>







        <div class="form-group">
            <button type="submit"    class="btn btn-sm btn-primary" style="width:20%"><span class="glyphicon glyphicon-edit"></span> Save </button>
        </div>

    </form>


      </div>
      <div class="modal-footer">
        



        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        

      </div>
    </div>
  </div>
</div>



{% else %}

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel" style="color:red"  >Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
       
<p style="color:red">Can't post new bid.You have used your all bids.</p>

      </div>
      <div class="modal-footer">
        



        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        

      </div>
    </div>
  </div>
</div>


 
 
{% endif %}



<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Bid is added Successfully</div>
      <div class="modal-footer">
        <a href="/projpost/bidsfreelancer/" class="btn btn-success">Go to all bids posted</a>

      </div>
    </div>
  </div>
</div>



<script type="text/javascript" >
    
if ( "{{alert}}" == 1) 
{
  $('#exampleModalCenter').modal('show');
}

</script>




{% endblock  %}