{%  extends 'authenticate/base.html' %}


{% block content %}

{% load static %}




<style>
    @import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
}
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);
.fa-2x {
font-size: 2em;
}
.fa {
position: relative;
display: table-cell;
width: 60px;
height: 36px;
text-align: center;
vertical-align: middle;
font-size:20px;
}


.main-menu:hover,nav.main-menu.expanded {
width:250px;
overflow:visible;
}

.main-menu:hover li img {
    display: block !important;
}

.main-menu {
margin-top: 58px;
background:#212121;
border-right:1px solid #e5e5e5;
position:absolute;
top:0;
bottom:0;
height:100%;
left:0;
width:60px;
overflow:hidden;
-webkit-transition:width .05s linear;
transition:width .05s linear;
-webkit-transform:translateZ(0) scale(1,1);
z-index:1000;
}

.main-menu>ul {
margin:7px 0;
}

.main-menu li {
position:relative;
display:block;
width:250px;
}

.main-menu li>a {
position:relative;
display:table;
border-collapse:collapse;
border-spacing:0;
color:#999;
 font-family: arial;
font-size: 14px;
text-decoration:none;
-webkit-transform:translateZ(0) scale(1,1);
-webkit-transition:all .1s linear;
transition:all .1s linear;

}

.main-menu .nav-icon {
position:relative;
display:table-cell;
width:60px;
height:36px;
text-align:center;
vertical-align:middle;
font-size:18px;
}

.main-menu .nav-text {
position:relative;
display:table-cell;
vertical-align:middle;
width:190px;
  font-family: 'Titillium Web', sans-serif;
}

.main-menu>ul.logout {
position:absolute;
left:0;
bottom:0;
}

.no-touch .scrollable.hover {
overflow-y:hidden;
}

.no-touch .scrollable.hover:hover {
overflow-y:auto;
overflow:visible;
}

a:hover,a:focus {
text-decoration:none;
}

nav {
-webkit-user-select:none;
-moz-user-select:none;
-ms-user-select:none;
-o-user-select:none;
user-select:none;
}

nav ul,nav li {
outline:0;
margin:0;
padding:0;
}
.main-menu li:hover>a,nav.main-menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch .dashboard-page nav.dashboard-menu ul li:hover a,.dashboard-page nav.dashboard-menu ul li.active a {
color:#fff;
background-color:#5fa2db;
}
.area {
float: left;
background: #e2e2e2;
width: 100%;
height: 100%;
}
@font-face {
  font-family: 'Titillium Web';
  font-style: normal;
  font-weight: 300;
  src: local('Titillium WebLight'), local('TitilliumWeb-Light'), url(http://themes.googleusercontent.com/static/fonts/titilliumweb/v2/anMUvcNT0H1YN4FII8wpr24bNCNEoFTpS2BTjF6FB5E.woff) format('woff');
}


</style>

<head>
<!-- <link rel="stylesheet" type="text/css" href="{% static 'snippet.css' %}" /> -->
 <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


  
  

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"></script>
  
      

</head> 



 <style>
    .productbox {
    background-color:#ffffff;
  padding:10px;
  margin-bottom:10px;
  -webkit-box-shadow: 0 8px 6px -6px  #999;
     -moz-box-shadow: 0 8px 6px -6px  #999;
          box-shadow: 0 8px 6px -6px #999;
}
.snippets {
    border: 2px purple solid;
}
</style> 




<br>




<div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                  <img src="/media/{{ profile.image }}" width="140px"     style="display: none;"  >
                  
                </li>
                <li class="has-subnav">
                    <a href="/projpost/buyerprojects">
                        <i class="fa fa-leaf" aria-hidden="true"></i>
                        <span class="nav-text">
                            My projects Posted
                        </span>
                    </a>
                    
                </li>
                <li class="has-subnav">
                    <a href="/">
                       <i class="fa fa-drupal fa-2x"></i>
                        <span class="nav-text">
                            Home
                        </span>
                    </a>
                   
                </li>
               
            </ul>

            <ul class="logout">
                <li>
                   <a href="#">
                         
                        <span class="nav-text">
                           
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>





{% if matched == 'None' %}

      <div class="container">
      <div class="row">

        <h3>No Bid recieved yet</h3>
       
      </div>
    </div>

    {%  else %}






{% for mi in matched %}

<div class="container">
<div class="row">





<div class="col-md-12 productbox snippets        id="mydiv" style="width:20px;background:white" onmouseover="this.style.background='#E6E6FA';" onmouseout="this.style.background='white';          ">


    {% if not contr.proj_id   %}

 <form method="POST"     accept-charset="utf-8" enctype="multipart/form-data"     >
        {% csrf_token %}

  <input id="prodId" name="uservalue" type="hidden" value="{{ mi.user_id }}">
 <div class="form-group">
            <button type="submit"    class="btn btn-sm btn-success"  value="{{ mi.user_id }}" style="width:20%"><span class="glyphicon glyphicon-edit"></span> Accept Request </button>
            
            <a href="/projpost/bids/delete/{{mi.unique_id}}" class="btn btn-danger" role="button"> Delete this bid</a>

</div>

 </form>


    {% endif %}


     
<a href="/Userprofile/{{ mi.user_id }}">Freelancer Profile</a>
    </br>
    
    {% if  contr.user_id  == mi.user_id  %}

      <button  class="btn btn-sm btn-success" style="width:20%"><span class="glyphicon glyphicon-edit"></span> This Freelancer working on it </button>

    {% else %}
    
     {% if  contr.proj_id   %}
    <button  class="btn btn-sm btn-success" style="width:20%"><span class="glyphicon glyphicon-edit"></span> Un accepted bid </button>

    {% else %} 

    {% endif %}

    {% endif %}





    <hr style="border-bottom: 1px solid darkblue;">
      <p>CV of Freelancer</p>
     <embed src= "/media/{{ mi.cv }}" width= "500" height= "375">
     <hr style="border-bottom: 1px solid darkblue;">
     <div class="price"><span>Estimated budget</span>{{ mi.price }}<span>$</span>
    </div>
    <hr style="border-bottom: 1px solid darkblue;">
    </br>
     
    <div class="description">{{ mi.coverletter }}</div>
    </br>
    

    
</div>


 {% endfor %}


{% endif %}




{% endblock  %}